<button type="button" class="buteditcode" data-edit-button>
  <div class="editcodeimage"></div>
</button>

<script>
  /*
  // alliases
  const editElement=thisParams.editElement
  let thisAttribute=thisParams.thisAttribute, editNode=thisParams.editNode
  if (!editNode) editNode=thisNode

  let buttonElement=thisElement.querySelector('button[data-id=normbut]')
  if (thisParams.image=='code') {
    buttonElement=thisElement.querySelector('button[data-id=codebut]')
  }
  buttonElement.style.display='block' // set to visible when admin user

  if (!thisAttribute) {
    if (editElement?.tagName=='INPUT' || editElement?.tagName=='TEXTAREA') thisAttribute="value"
    else thisAttribute="textContent"
  }
  const containerElm=thisParams.butsContainer || thisElement
  const {default: startEdition}=await import('./client/admin/edition.mjs')
  buttonElement.addEventListener('click', (event) => {
    event.preventDefault()
    startEdition(editNode, editElement, containerElm, thisParams.thisProperty, thisAttribute, thisParams.inlineEdition, thisParams.dataProcessor, thisParams.containerValueElm)
  })
  */
</script>