<!--
  thisNode: dashboard -> extraedition
-->
<div class="dashboard">
  <template id="logedittp">
    <div style="display:table;">
      <div></div>
      <script>
        const textEditNode=thisNode;
        const editableFunc=()=>webuser.isWebAdmin();
        textEditNode.getRelationship("siteelementsdata").getChild().setView(thisElement, "singlefield", {labelName: textEditNode.props.name, typeInput: true, editableFunc: editableFunc});
      </script>
    </div>
  </template>
  <div>
    <div style="margin:auto; display:table; margin-bottom: 1em;">
      <div class="msgbox">
        <div style="display:table;">
          <div></div>
          <script>
            const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
            const editableFunc=()=>webuser.isWebAdmin();
            const titNode=getSiteText().getNextChild("not located").getNextChild("pagTit");
            await titNode.getRelationship("siteelementsdata").getChild().setView(thisElement, "singlefield", {labelName: titNode.props.name, typeInput: true, editableFunc: editableFunc});
            const titInput=thisElement.getElementsByTagName('input')[0];
            const {default: config} = await import('./' + CLIENT_CONFIG_PATH + 'main.mjs');
            titInput.addEventListener('blur', function(){
              if (titInput.value) document.title=titInput.value;
            });
          </script>
        </div>
      </div>
    </div>
    <div style="margin:auto; display:table; margin-bottom: 1em;">
      <div class="msgbox"></div>
      <script>
        const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
        getSiteText().getNextChild("logbox").getNextChild("logboxout").getNextChild("title").appendView(thisElement, document.querySelector("#logedittp"));
        getSiteText().getNextChild("logbox").getNextChild("logboxin").getNextChild("title").appendView(thisElement, document.querySelector("#logedittp"));
      </script>
    </div>
    <div style="margin:auto; display:table; margin-bottom: 1em;">
      <div class="msgbox"></div>
      <script>
        const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
        getSiteText().getNextChild("cartbox").getNextChild("crtbxtt").appendView(thisElement, document.querySelector("#logedittp"));
      </script>
    </div>
    <div style="margin:auto; display:table; margin-bottom: 1em;">
      <div class="msgbox"></div>
      <script>
        const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
        getSiteText().getNextChild("hours").appendView(thisElement, document.querySelector("#logedittp"));
      </script>
    </div>
    <div style="margin:auto; display:table; margin-bottom: 1em;">
      <div class="msgbox"></div>
      <script>
        const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
        const langbox=getSiteText().getNextChild("langbox");
        langbox.getNextChild("langboxtt").appendView(thisElement, document.querySelector("#logedittp"));
        langbox.getNextChild("newlangwait").appendView(thisElement, document.querySelector("#logedittp"));
        langbox.getNextChild("changelangwait").appendView(thisElement, document.querySelector("#logedittp"));
      </script>
    </div>
    <div style="margin:auto; display:table; margin-bottom: 1em;">
      <div class="msgbox"></div>
      <script>
        const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
        const logboxNode=getSiteText().getNextChild("logbox");
        const logboxin=logboxNode.getNextChild("logboxin");
        const logboxout=logboxNode.getNextChild("logboxout");
        for (const logNode of logboxin.getRelationship("siteelements").children) {
          logNode.appendView(thisElement, document.querySelector("#logedittp"));
        }
        for (const logNode of logboxout.getRelationship("siteelements").children) {
          logNode.appendView(thisElement, document.querySelector("#logedittp"));
        }
      </script>
    </div>
    <div data-id="containerlogin"></div>
    <script>
      const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
      getSiteText().getNextChild("logform").appendView(thisElement, "loginform");
    </script>
    <div data-id="containernew"></div>
    <script>
      const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
      getSiteText().getNextChild("logform").appendView(thisElement, "newform");
    </script>
    <div data-id="containerexpimp"></div>
    <script>
      thisNode.parent.getChild("expimp").appendView(thisElement, "export");
      thisNode.parent.getChild("expimp").appendView(thisElement, "import");
    </script>
  </div>
</div>