<div class="alert dialogbox" data-container>
  <div>
    <h1 style="font-size:1.5em" style="display:block;">
      <p>No Database Tables!</p>
    </h1>
  </div>
  <div style="padding:1em;">
    <div style="padding:1em;">
      <template data-alert>
        <div class="alert warningmsg">
          <p><b>Populating database ... It could take some time, please be patient.</b></p>
          <div style="text-align:center"><div class="circleloader"></div></div>
        </div>
      </template>
      <button class="btn" type="button" style="padding:1em;" data-button>Populate Database with Initial data</button>
      <script>
        thisElement.addEventListener("click", async ()=>{
          const {AlertMessage}=await import('./' + CLIENT_MODULES_PATH + 'alert.mjs');
          thisNode.setView(document.body, thisElement.previousElementSibling);

          if (!(await thisNode.constructor.makeRequest("populate database"))) return new AlertMessage("Error populating database").showAlert();
          
          //Load languages and select my language
          const {selectMyLanguage} = await import('./' + CLIENT_MODULES_PATH + 'languages.mjs');
          if (! await selectMyLanguage()) throw new Error('No Language Content');
          
          //Load web site text content
          const {loadText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
          const siteText= await loadText();

          //Log as sysadmin
          await webuser.login("systemadmin", "systemadmin");
          
          await siteText.getNextChild("dashboard").getNextChild("changepwd").setView(document.body, "chgadmnpwd");
          // Este texto mejor que lo tome de la base de datos
          new AlertMessage("<BR/>Database Populated saccesfully.<BR/><BR/><B>Please Change Administration Passwords.</B><BR/><BR/>", 6000).showAlert();
        });
      </script>
    </div>
  </div>
</div>