<!--
  newStatus
  viewParent: the parent rel for setChildrenView
-->
<button type="button" class="buttons">
  <div class="checkimage"></div>
  <script>
    if (thisParams.newStatus==0) {
      thisElement.className="undoimage";
    }
  </script>
</button>
<script type="text/javascript">
  const {getDomElementFromChild} = await import('./' + CLIENT_MODULES_PATH + 'frontutils.mjs');
  const myParent=thisParams.viewParent? thisParams.viewParent: thisNode.parent; // olvidarse de viewparent hacerlo con un array
  thisElement.onclick=function() {
    thisNode.request("edit my props", {values:{status: thisParams.newStatus}})
    .then(res => {
      const element=getDomElementFromChild(thisNode, myParent);
      
      if (myParent.childContainer) {
        if (element) {
          element.parentElement.removeChild(element);
        }
        else myParent.setChildrenView();
      }
      myParent.removeChild(thisNode); // esto mejor hacerlo mediante un array.remove
      myParent.dispatchEvent("change order status", [thisNode]);
      thisNode.dispatchEvent("change order status")
    });
    return false;
  }
</script>