<!--
  Checkout.
  It shows the order, address, shipping and payment, and options.
  thisNode: middle -> checkout

  showing order data and options
-->
<div data-container>
  <div class="checkout">
    <div style="text-align:center;">
      <div class="msgbox" style="position:relative;" data-ckt-tit>
        <div data-butedit class="btmiddleright"></div>
        <span data-value></span>
      </div>
      <div style="position:relative;" data-order-tit>
        <div data-butedit class="btmiddleright"></div>
        <h3 data-value></h3>
      </div>
      <div data-chkt-order-container></div>
    </div>
    <div data-user-data-container></div>
    <div>
      <div class="flexjoin" data-shipping-and-payment-container></div>
    </div>
  </div>
  <div style="margin-top:1.5em;">
    <!-- Checkout Buttons -->
    <div class="dashbuttons">
      <div style="position:relative;" data-confirm>
        <div data-butedit class="btmiddleright"></div>
        <button type="button" class="btn" data-value></button>
      </div>
      <div style="position:relative;" data-discard>
        <div data-butedit class="btmiddleright"></div>
        <button type="button" class="btn" data-value></button>
      </div>
    </div>
  </div>
</div>