<!--
  thisNode: sitetext chkout
-->
<div class="boxframe ordercartframe ordercart" data-container>
  <div data-items class="orderitemscontainer"></div>
  <div class="form-group ordercarttotals" data-subtotal>
    <span style="position:relative;" data-label>
      <div data-butedit class="btmiddleright"></div>
      <span class="form-label" data-value></span>
      <script>
        const total=thisNode.getNextChild("order").getNextChild("subtotal").getRelationship("siteelementsdata").getChild();
        total.writeProp(thisElement);
        //adding the edition pencil
        if (webuser.isWebAdmin()) {
          const {visibleOnMouseOver}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.mjs');
          visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
          total.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
        }
      </script>
    </span>
    <span data-subtotal-value></span>
    <script>
      const {sumTotal} = await import('./' + CLIENT_MODULES_PATH + 'cart.mjs')
      const {intToMoney} = await import('./' + CLIENT_MODULES_PATH + 'money.mjs');
      thisElement.textContent=intToMoney(sumTotal(webuser.getRelationship("orders").getChild().getRelationship("orderitems").children));
    </script>
  </div>
</div>