<table id="shippingcontainer" data-table>
  <tr style="position:relative;" data-row>
    <td>
      <input type="radio" name="shipping" data-select>
    </td>
    <td style="padding-left:1em; padding-right:2.2em;text-align:left;">
      <details>
        <summary style="position:relative; display: inline-block;" data-name>
          <div data-butedit class="btmiddleright"></div>
          <span data-value></span>
        </summary>
        <span style="position:relative;" data-description>
          <div data-butedit class="btmiddleright"></div>
          <span class="explanation" data-value></span>
        </span>
      </details>
    </td>
    <td style="padding-right:2em;text-align:right;">
      <span style="position:relative;" data-delay-hours>
        <div data-butedit class="btmiddleright"></div>
        <span data-value></span>
      </span>
      <span style="position:relative;" data-hours>
        <div data-butedit class="btmiddleright"></div>
        <span data-value></span>
      </span>
    </td>
    <td style="padding-right:2em;text-align: right;">
      <span style="position:relative;" data-price>
        <div data-butedit class="btmiddleright"></div>
        <span data-value></span>
      </span>
    </td>
    <td>
      <div class="btmiddleright">
        <div class="admnbtsgrid" data-admnbuts></div>
      </div>
    </td>
  </tr>
</table>