<!--
thisNode textContent => "dashboard" - "showOrd"
thisParams.filterorders: "archived" => status=1
-->
<table class="list" data-table>
  <thead>
    <tr data-head>
      <th style="position:relative;" data-date>
        <div data-butedit class="bttopcenter"></div>
        <div data-value></div>
      </th>
      <th style="position:relative;" data-name>
        <div data-butedit class="bttopcenter"></div>
        <div data-value></div>
      </th>
      <th style="position:relative;" data-order>
        <div data-butedit class="bttopcenter"></div>
        <div> data-value</div>
      </th>
    </tr>
  </thead>
  <tbody data-body></tbody>
</table>
<template data-actions-head-tp>
  <th style="position:relative;" data-actions>
    <div data-butedit class="bttopcenter"></div>
    <div data-value></div>
  </th>
</template>