<!--

thisParams.setView
---

thisParams ==> No vale :-> myNode, labelNode, fileName 
----

myNode => itemNode

Aparecen la lista y debaj el boton de selecionar archivo.
Una vez cargado una nueva imagen, el boton seleccionar se resetea si no se supera el limite de imágenes.



-->
<div class="login-frame" id="loadimg-card" data-card>
  <div data-card-body></div>
</div>
<div class="alert dialogbox rmbox" data-container style="overflow-y: scroll;">
  <div class="bt-wrapper">
    <button type="button" class="closeimage minibtn transp" data-close>
      <div class="closeimage"></div>
    </button>
  </div>
  <form enctype="multipart/form-data" id="loadimg" data-form >
    <div style="display:flex; flex-flow: column; gap: 1em;">
      <div data-head-note>
        <span style="position:relative;">
          <div data-butedit class="btmiddleright"></div>
          <h3 style="margin: 0.2em" data-value></h3>
        </span>
      </div>
      <div style="align-self: center;" data-items-images></div>
      <div style="margin-bottom: 0.2em">
        <div class="form-group">
          <div style="position:relative;" data-file>
            <div data-butedit class="btmiddleright"></div>
            <label for="fileData" style="align-self: left;" data-value></label>
          </div>
          <script>
            // este div no tiene style=inline
          </script>
          <div>
            <div class="circleloader minicircleloader" style="visibility: hidden;"></div>
            <input name="fileData" type="file">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  //const {setLoadImgForm} = await import(pathJoin("./client", thisAppFolder, "catalog/admin/loadimg.mjs"))
  //setLoadImgForm(thisParams.item, thisElement)
</script>
