/*
Unset defaults
*/
a {
  text-decoration: unset;
  color: unset;
}
button {
  border: unset;
  background: unset;
}

body {
	font-family: Arial;
	color: #211a1a;
}
div.centercolumn {
  margin: 40px;
}
div.productshortcontainer {
  border: #E0E0E0 1px solid;
}
div.productshortcontainer div.itemname h3{
	font-weight: normal;
	font-size: 1em;
}
div.productshortcontainer div.itemdescription{
    display: none;
}
div.textproduct {
  padding: 15px;
}
div.productlistgrid {
    display: flex;
	gap: 30px;
}
.cartplusimage {
  background: url(cartplus.svg) no-repeat;
  background-size: contain;
}
div.addtocartgrid {
    display: flex;
}
div.addtocartgrid > div {
    margin: 0.5em;
}
div.productprice {
    display: flex;
    align-items: center;
}
div.quantityselect {
    display: flex;
    align-items: center;
}
div.addtocartgrid button {
  cursor: pointer;
}
#catalogbox div.boxtitle {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 18px;
}
#catalogbox div.boxbody {
  display: flex;
  gap: 10px;
}
#catalogbox div.boxlist {

}
div.backgroundspace {
	margin: 40px;
}
div.menuscontainer {
	display: flex;
	gap: 20px;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 18px;
}
div.toolbar {
	display: flex;
	gap: 20px;
}
}
/*Loader */
.loader {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index:100;
	display: table;
	border: 2px solid grey;
	background: white;
	padding: 2px 4px;
}
#initloader {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	z-index:100;
  background: url(loader-1.gif) no-repeat;
  background-size: contain;
}
.elementloader {
  background: url(loader-2.gif) no-repeat;
  background-size: contain;
}