<!--
thisNode -> props.number, props.href

thisParams.onClickScript


thisParams.pagination // deprecated
-->
<a></a>
<script>
  const {setActive} = await import('./' + CLIENT_MODULES_PATH + 'activelauncher.mjs');
  thisNode.highLightElement=thisElement;
  
  thisNode.writeProp(thisElement, "href", "href");
  thisNode.writeProp(thisElement, "number");

  if (thisNode.selected) setActive(thisNode); // it is not so clear we need this



  const indexAction=()=>{
    //keep height positioning
    const paginationContainer=thisElement.closest('.page-indexes').parentElement.querySelector('.page-content');
    paginationContainer.style.minHeight=paginationContainer.clientHeight + 'px';

    setActive(thisNode);
    const pagination=thisNode.parent.pagination;
    pagination.elementsNode.partner.setView(paginationContainer, pagination.elementsTp, {startIndex: (thisNode.props.number -1) * pagination.pageSize, endIndex: thisNode.props.number * pagination.pageSize});
  }
  thisNode.indexAction=indexAction;
  thisElement.addEventListener("click", (event)=>{
    event.preventDefault();
    indexAction();
  });
  if (thisNode.selected) indexAction(); // producing automatic click on refreshing

/*

  const onClickScript=(number)=>thisParams.pagination.elementsNode.setView(thisElement.parentElement.parentElement.querySelector('.page-content'), "catalog", {pagination: thisParams.pagination);

  thisNode.writeProp(thisElement, "href", "href");

  thisNode.writeProp(thisElement, "number");
  if (thisNode.selected==true) {
    thisElement.classList.add("selected");
  }
  
  thisElement.addEventListener("click", async (event)=>{
    event.preventDefault();
    //keep height positioning
    const paginationContainer=thisElement.parentElement.parentElement.firstElementChild;
    paginationContainer.style.minHeight=paginationContainer.clientHeight + 'px';
    
    if (typeof thisParams.onClickScript=="function") {
      await thisParams.onClickScript(thisNode.props.number);
    }
  });
  */
</script>
