<div class="centerelements">
  <div class="msgbox" style="position:relative;">
    <div data-id="butedit" class="btmiddleright"></div>
    <span>Payment succeeded</span>
    <script>
    /* falta implementacion en base de datos
    const {getSiteText}=await import('./' + CLIENT_MODULES_PATH + 'sitecontent.mjs');
    const myNode=getSiteText().getNextChild("checkout").getNextChild("order").getNextChild("onpaysucceed").getRelationship("siteelementsdata").getChild();
    const myorderpay=thisNode.getRelationship("orderpaymenttypes").getChild();
    if (myorderpay?.props.succeed) {
      myNode.writeProp(thisElement);
    }
    //adding the edition pencil
    if (webuser.isWebAdmin()) {
      const {visibleOnMouseOver}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.mjs');
      visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
      myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
    }
    */
    </script>
  </div>
</div>