<!--
  templated used at checkout and show user orders
-->
<div class="boxframe orderframe order" data-container>
  <div class="orderitemscontainer" data-items></div>
  <div class="shippingitem form-group" data-shipping>
    <span style="position:relative;" data-name>
      <div data-butedit class="btmiddleright"></div>
      <span data-value></span>
    </span>
    <span style="position:relative;" data-delay>
      <div data-butedit class="btmiddleright"></div>
      <span data-value></span>
      <span data-hours></span>
    </span>
    <span style="position:relative;" data-price>
      <div data-butedit class="btmiddleright"></div>
      <span data-value></span>
    </span>
  </div>
  <div class="form-group ordertotals" data-total>
    <span class="form-label" data-payment-type></span>
    <span style="position:relative;" data-total-label>
      <div data-butedit class="btmiddleright"></div>
      <span class="form-label" style="margin-right:0.5em" data-value></span>
    </span>
    <span data-total-value></span>
  </div>
  <div data-paymentview></div>
  <div class="paybutton" data-payment></div>
</div>