<!--
  thisNode -> "showOrd"
-->
<div class="dashboard" data-container>
  <div style="display:table; margin: 1em auto;">
    <form>
      <select name="ordersStatus" class="" data-status>
        <option value="pending" data-pending-status></option>
        <option value="archived" data-archived-status></option>
      </select>
      <div style="position:relative;" data-pending>
        <div data-butedit class="btmiddleright"></div>
        <input type="hidden" name="pending" disabled data-has-target data-target-id="pending-status" data-hidden data-value>
      </div>
      <div style="position:relative;" data-archived>
        <div data-butedit class="btmiddleright"></div>
        <input type="hidden" name="archived" disabled data-has-target data-target-id="archived-status" data-hidden data-value>
      </div>
    </form>
  </div>
  <div style="margin-bottom:1em" data-orders></div>
  <script>
    const textContent=thisNode;
    textContent.setView(thisElement, "userorders");
  </script>
</div>