<table class="list" data-table>
  <tr data-head>
    <th style="position:relative;" data-cell>
      <div data-butedit class="bttopcenter"></div>
      <div data-value></div>
    </th>
  </tr>
  <tr data-row>
    <td data-cell></td>
    <td data-username>
      <a data-value></a>
    </td>
    <td class="containerbuttons" data-showorder>
      <button type="button" class="iconbuttons" data-button>
        <div class="viewinimage"></div>
      </button>
    </td>
    <td class="containerbuttons" style="position:relative;" data-admin>
      <div class="admnbtsgrid">
        <div data-success></div>
        <div data-remove></div>
      </div>
    </td>
  </tr>
</table>