<!--
  thisNode: the new node
  thisParams:
    noLang: when we don't want to add also the language parent
    onAdded(newNode):
-->
<button type="button" class="butadd">
  <div class="plusimage"></div>
  <script>
    if (window.getComputedStyle(thisElement).backgroundImage) {
      Node.dom.setSizeFromStyle(thisElement);
    }
  </script>
</button>
<script>
  thisElement.addEventListener("click", async event=>{
    event.preventDefault();
    let parameters=null;
    if (!thisParams.noLang) parameters={extraParents: webuser.language.getRelationship("domelementsdata")};
    await thisNode.loadRequest("add my tree", parameters);
    //We copy the data row to any language
    if (languages && languages.children.length>1 && !thisParams.noLang) {
      const restLanguages=languages.children.filter(lang => lang.props.id!=webuser.language.props.id);
      const candidates=thisNode.arrayFromTree();
      for (const lang of restLanguages) {
        for (const candidate of candidates) {
          if (candidate instanceof NodeFemale) {
            for (const syskey of candidate.syschildtablekeysinfo) {
              if (syskey.parenttablename==languages.props.parenttablename
                && syskey.type=='foreignkey') {
                  candidate.request("add my children", {extraParents: lang.getRelationship(candidate.props.name)});
                  break;
              }
            }
          }
        }
      }
    }
    thisNode.parentNode.addChild(thisNode);

    if (thisParams.onAdded) thisParams.onAdded(thisNode);
    else await thisNode.parentNode.setChildrenView();

    thisNode.parentNode.dispatchEvent("addNewNode", thisNode);
  });
</script>