<!-- we show order made and give the option to go to the user area-->
<div class="centerelements">
  <div class="msgbox" style="position:relative;">
    <div data-id="butedit" class="btmiddleright"></div>
    <span></span>
    <script>
      const title=thisNode.getNextChild("successTit").getRelationship("domelementsdata").getChild();
      title.writeProperty(thisElement);
      //adding the edition pencil
      if (webuser.isWebAdmin()) {
        const {visibleOnMouseOver}=await import('./javascript/modules/frontutils.js');
        visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
        title.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
      }
    </script>
  </div>
  <div></div>
  <script>
    //We show the order
    webuser.getRelationship("orders").getChild().setView(thisElement, "order");
  </script>
  <div>
    <div style="display:table; position:relative;">
      <div data-id="butedit" class="btmiddleright"></div>
      <input type="hidden" name="customsubject" disabled="true">
      <script>
        const myNode=thisNode.getNextChild("mails").getNextChild("newordercustomer").getNextChild("subject").getRelationship("domelementsdata").getChild();
        myNode.writeProperty(thisElement);
        //adding the edition pencil
        if (webuser.isWebAdmin() || webuser.isSystemAdmin() || webuser.isOrdersAdmin()) {
          const {visibleOnMouseOver}=await import('./javascript/modules/frontutils.js');
          visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
          myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          thisElement.type="text";
        }
      </script>
    </div>
    <div style="display:table; position:relative;">
      <div data-id="butedit" class="btmiddleright"></div>
      <textarea name="custommessage" style="visibility:hidden;" disabled="true"></textarea>
      <script>
        const myNode=thisNode.getNextChild("mails").getNextChild("newordercustomer").getNextChild("message").getRelationship("domelementsdata").getChild();
        myNode.writeProperty(thisElement);
        //adding the edition pencil
        if (webuser.isWebAdmin() || webuser.isSystemAdmin() || webuser.isOrdersAdmin()) {
          const {visibleOnMouseOver}=await import('./javascript/modules/frontutils.js');
          visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
          myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          thisElement.style.visibility="visible"
        }
      </script>
    </div>
    <div style="display:table; position:relative;">
      <div data-id="butedit" class="btmiddleright"></div>
      <input type="hidden" name="adminsubject" disabled="true">
      <script>
        const myNode=thisNode.getNextChild("mails").getNextChild("neworderadmin").getNextChild("subject").getRelationship("domelementsdata").getChild();
        myNode.writeProperty(thisElement);
        //adding the edition pencil
        if (webuser.isWebAdmin() || webuser.isSystemAdmin() || webuser.isOrdersAdmin()) {
          const {visibleOnMouseOver}=await import('./javascript/modules/frontutils.js');
          visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
          myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          thisElement.type="text";
        }
      </script>
    </div>
    <div style="display:table; position:relative;">
      <div data-id="butedit" class="btmiddleright"></div>
      <textarea name="adminmessage" style="visibility:hidden;" disabled="true"></textarea>
      <script>
        const myNode=thisNode.getNextChild("mails").getNextChild("neworderadmin").getNextChild("message").getRelationship("domelementsdata").getChild();
        myNode.writeProperty(thisElement);
        //adding the edition pencil
        if (webuser.isWebAdmin() || webuser.isSystemAdmin() || webuser.isOrdersAdmin()) {
          const {visibleOnMouseOver}=await import('./javascript/modules/frontutils.js');
          visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
          myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          thisElement.style.visibility="visible"
        }
      </script>
    </div>
  </div>
  <script>
    const {default: config} = await import('./javascript/modules/config.js');
    //We send notifications:
    if (config.newordermailcustomer_On) {
      (new user()).sendmail(webuser.props.username, thisElement.querySelector("[name=customsubject]").value, thisElement.querySelector("[name=custommessage]").value, 'USER_ORDERSADMIN');
    }
    //We send notifications:
    if (config.newordermailadmin_On) {
      (new user()).sendmail('USER_ORDERSADMIN', thisElement.querySelector("[name=adminsubject]").value, thisElement.querySelector("[name=adminmessage]").value, webuser.props.username);
    }
  </script>
</div>