<!--
-->
<div style="padding-top:1em;"></div>
<script>
  const {currentLanguage} = await import("./javascript/modules/languages.js");
  const myNode=await thisNode.getRelationship("domelements").loadRequest("get my tree", {extraParents: currentLanguage.getRelationship("domelementsdata")});
  myNode.addEventListener("setChildrenView", async function() {
    if (webuser.isWebAdmin() && this.children.length==0) {
      const newNode = await this.createInstanceChild();
      newNode.setView(this.childContainer, "butaddnewnode", {parentNode: this});
    }
  }, "addNewNodeButton");
  myNode.setChildrenView(thisElement, "paragraph");
</script>