<div class="cartitemscontainer">
  <div>
    <a href=""></a>
    <script>
      thisNode.writeProperty(thisElement, "quantity");
      thisElement.addEventListener("click", function(ev){
        ev.preventDefault();
        import('./javascript/modules/cart.js')
        .then(({myCart})=>{
          myCart.additem(thisNode,-thisNode.props.quantity);
          myCart.refreshcartbox();
        });
      });
      thisElement.onmouseover=function(){
        this.textContent="x";
        this.style.fontWeight="bold";
        this.style.transform="translateY(-1px)";
      };
      thisElement.onmouseout=function(){
        thisNode.writeProperty(this, "quantity");
        this.style.fontWeight="normal";
        this.style.transform="none";
      };
    </script>
  </div>
  <div>
    <a title="+ Info" href="javascript:"></a>
    <script>thisNode.writeProperty(thisElement, "name");</script>
  </div>
</div>