<template></template>
<script>
  thisNode.addEventListener("changeProperty", function(propertyname) {
    if (propertyname=="quantity" || propertyname=="price") {
      thisNode.parentNode.partnerNode.setView();
    }
  }, "reCaluculate");
  const myVirtualContainer=thisElement.content;
  const currentItemOrder=thisElement.parentElement.querySelectorAll("[data-property=price] span").length;
  await thisNode.appendPropertiesView(myVirtualContainer, "singlefield");
  const {textContentRoot} = await import('./javascript/modules/textcontent.js');
  const currency=textContentRoot.getNextChild("labels").getNextChild("middle").getNextChild("currency").getRelationship( "domelementsdata").getChild().props.value;
  myVirtualContainer.querySelectorAll("[data-property=price] span")[currentItemOrder].parentElement.appendChild(document.createTextNode(currency));
  thisElement.parentElement.appendChild(myVirtualContainer);
</script>