<div style="display:table;position:relative;">
  <div data-id="butedit" class="btmiddleright"></div>
  <input type="hidden" name="succeedNotice" disabled>
  <script>
    const myNode=domelementsroot.getNextChild("labels").getNextChild("middle").getNextChild("checkout").getNextChild("order").getNextChild("paysucceed").getRelationship("domelementsdata").getChild();
    myNode.writeProperty(thisElement);
    //adding the edition pencil
    if (webuser.isWebAdmin()) {
      Node.dom.visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
      myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
      thisElement.type="text";
    }
  </script>
</div>
<div id="paypal-button-container"></div>
<script>
  const checkout=domelementsroot.getNextChild("labels").getNextChild("middle").getNextChild("checkout");
  const orderpaymenttype=thisNode;
  const order=orderpaymenttype.parentNode.partnerNode;
  const myVars=JSON.parse(orderpaymenttype.props.vars);
  const myorderitems=order.getRelationship("orderitems");
  const myordership=order.getRelationship("ordershippingtypes");
  const sumTotal=function(node) {
    let total=0;
    let i=node.children.length;
    while (i--) {
      var quantity=node.children[i].props.quantity;
      if (!quantity) quantity=1;
      total=total+quantity * node.children[i].props.price;
    }
    return total;
  }
  const mytotal=sumTotal(myorderitems) + sumTotal(myordership);
  
const onScriptLoaded=function(){
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
      },
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: mytotal,
                      currency_code: myVars.currencyCode
                  }
              }]
          });
      },
      onApprove: function(data, actions) {
          return actions.order.capture()
          .then(function(details) {
            //We have to save status to payed
            orderpaymenttype.props.succeed=1;
            orderpaymenttype.request("edit my props", {props: {succeed: 1}})
            .then(res=>{
              //We have added the orderpaymenttype to the order
              (new AlertMessage(thisElement.previousElementSibling.querySelector('[name=succeedNotice]').value, 3000)).showAlert();
            });
          });
      }
  }).render('#paypal-button-container');
}
  /**
 * Loads a JavaScript file and returns a Promise for when it is loaded
 */
const loadScript = src => {
  return new Promise((resolve, reject) => {
    const script = document.createElement('script')
    script.type = 'text/javascript'
    script.onload = resolve
    script.onerror = reject
    script.src = src
    document.head.append(script)
  })
}
let paypalurl='https://www.paypal.com/sdk/js' + '?' + 'client-id=' + myVars.merchantId + '&' + 'currency=' +  myVars.currencyCode;
loadScript(paypalurl)
  .then(() => {
    onScriptLoaded();
  })
  .catch(() => console.error('Something went wrong with paypal.'))
</script>