<table id="shippingcontainer"></table>
<script>
const {currentLanguage}= await import("./javascript/modules/languages.js");
const {NodeFemale}= await import("./javascript/modules/nodesfront.js");
const shippings= await (new NodeFemale("TABLE_SHIPPINGTYPES", "TABLE_SHIPPINGTYPES")).loadRequest("get my root");
const shipping= await shippings.getChild().loadRequest("get my tree", {extraParents: currentLanguage.getRelationship("domelementsdata")});

shipping.getRelationship().addEventListener("setChildrenView", function() {
  if (this.children.length==0 && (webuser.isSystemAdmin() || webuser.isOrdersAdmin())) {
    this.createInstanceChild()
    .then(newNode=>newNode.setView(this.childContainer, "butaddnewnode", {parentNode: this}));
  }
}, "addNewNodeButton");
shipping.getRelationship().setChildrenView(thisElement,  "shippingtype");
</script>