<!--
  thisNode: "dashboard"

  This template shows the dashboard user data and user address and allows to save the changes when fieldtyp input.
  It uses webuser
-->
<div class="dashboard">
  <div class="msgbox" style="position:relative;">
    <div data-id="butedit" class="btmiddleright"></div>
    <span></span>
    <script>
      const addresstt=thisNode.getNextChild("addresstt");
      addresstt.getRelationship("domelementsdata").getChild().writeProperty(thisElement);
      //adding the edition pencil
      if (webuser.isWebAdmin()) {
        const {visibleOnMouseOver}= await import('./javascript/modules/frontutils.js');
        visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
        addresstt.getRelationship("domelementsdata").getChild().appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
      }
    </script>
  </div>
  <div style="margin:auto"></div>
  <script>
    webuser.setView(thisElement, "useraddressview", {fieldtype: 'input', showAddress: true});
  </script>
</div>