<!--
  thisNode -> "showOrd"
-->
<div class="dashboard">
  <div style="display:table; margin: 1em auto;">
    <form>
      <div style="position:relative;">
        <div data-id="butedit" class="btmiddleright"></div>
        <input type="hidden" name="new" disabled>
        <script>
          const myNode=thisNode.getNextChild("new").getRelationship("domelementsdata").getChild();
          myNode.writeProperty(thisElement);
          if (webuser.isWebAdmin()) {
            const {visibleOnMouseOver}= await import('./javascript/modules/frontutils.js');
            visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
            myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
            thisElement.type="text";
          }
          thisElement.onblur=function(){
            thisElement.form.elements.ordersStatus[0].innerHTML=thisElement.value;
          }
        </script>
      </div>
      <div style="position:relative;">
        <div data-id="butedit" class="btmiddleright"></div>
        <input type="hidden" name="archived" disabled>
        <script>
          const myNode=thisNode.getNextChild("archived").getRelationship("domelementsdata").getChild();
          myNode.writeProperty(thisElement);
          if (webuser.isWebAdmin()) {
            const {visibleOnMouseOver}= await import('./javascript/modules/frontutils.js');
            visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
            myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
            thisElement.type="text";
          }
          thisElement.onblur=function(){
            thisElement.form.elements.ordersStatus[1].innerHTML=thisElement.value;
          }
        </script>
      </div>
      <select name="ordersStatus" class="">
        <option value="new"></option>
        <script>
          thisNode.getNextChild("new").getRelationship("domelementsdata").getChild().writeProperty(thisElement);
        </script>
        <option value="archived"></option>
        <script>
          thisNode.getNextChild("archived").getRelationship("domelementsdata").getChild().writeProperty(thisElement);
        </script>
      </select>
      <script>
        const textContent=thisNode;
        thisElement.onchange=function(){
          textContent.setView(document.getElementById("ordersContainer"), "userorders", {filterorders: thisElement.options[thisElement.selectedIndex].value});
        }
      </script>
    </form>
  </div>
  <div style="margin-bottom:1em" id="ordersContainer"></div>
  <script>
    const textContent=thisNode;
    textContent.setView(thisElement, "userorders");
  </script>
</div>