<table class="list">
  <thead>
    <tr>
      <th style="position:relative;">
        <div data-id="butedit" class="bttopcenter"></div>
        <div></div>
        <script>
          const myContent=domelementsroot.getNextChild("labels").getNextChild("middle").getNextChild("dashboard").getNextChild("showOrd").getNextChild("date").getRelationship( "domelementsdata").getChild();
          myContent.writeProperty(thisElement);
          //adding the edition pencil
          if (webuser.isWebAdmin()) {
            Node.dom.visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
            myContent.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          }
        </script>
      </th>
      <th style="position:relative;">
        <div data-id="butedit" class="bttopcenter"></div>
        <div></div>
        <script>
          const myContent=domelementsroot.getNextChild("labels").getNextChild("middle").getNextChild("dashboard").getNextChild("showOrd").getNextChild("name").getRelationship( "domelementsdata").getChild();
          myContent.writeProperty(thisElement);
          //adding the edition pencil
          if (webuser.isWebAdmin()) {
            Node.dom.visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
            myContent.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          }
        </script>
      </th>
      <th style="position:relative;">
        <div data-id="butedit" class="bttopcenter"></div>
        <div></div>
        <script>
          const myContent=domelementsroot.getNextChild("labels").getNextChild("middle").getNextChild("dashboard").getNextChild("showOrd").getNextChild("order").getRelationship( "domelementsdata").getChild();
          myContent.writeProperty(thisElement);
          //adding the edition pencil
          if (webuser.isWebAdmin()) {
            Node.dom.visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
            myContent.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          }
        </script>
      </th>
      <template>
        <th style="position:relative;">
          <div data-id="butedit" class="bttopcenter"></div>
          <div></div>
          <script>
            const myContent=domelementsroot.getNextChild("labels").getNextChild("middle").getNextChild("dashboard").getNextChild("showOrd").getNextChild("actions").getRelationship( "domelementsdata").getChild();
            myContent.writeProperty(thisElement);
            //adding the edition pencil
            if (webuser.isWebAdmin()) {
              Node.dom.visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
              myContent.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
            }
          </script>
        </th>
      </template>
    </tr>
    <script>
      if (webuser.isOrdersAdmin()) {
        (new NodeMale()).appendView(thisElement, thisElement.querySelector('template')); //We add actions to the header first
      }
      if (webuser.isWebAdmin()) {
        const adminActions=thisElement.querySelector('template').cloneNode(true);
        adminActions.content.style+="border 1px solid";
        (new NodeMale()).appendView(thisElement, adminActions); //We add actions to the header for edition porpouses
      }
    </script>
  </thead>
  <tbody></tbody>
  <script>
    //first we load orders from database
    let myaction, myparams, ordersRel;
    if (webuser.isOrdersAdmin()) {
      //create virtual ordersmother
      ordersRel=new NodeFemale("TABLE_ORDERS");
      myaction="get all my children";
      myparams={tableName: ordersRel.props.childtablename};
    }
    else {
      myaction="get my children";
      ordersRel=webuser.getRelationship("orders");
      ordersRel.children=[];
      myparams={};
    }
    let statusValue=0;
    if (thisParams.filterorders=="archived") statusValue=1;
    myparams.filterProps= {status: statusValue};
    await ordersRel.loadRequest(myaction, myparams);
    if (ordersRel.children.length == 0) {
      thisElement.innerHTML="";
      return;
    }
    if (webuser.isOrdersAdmin()) {
      for (const child of ordersRel.children) {
        child.addEventListener("deleteNode", function() {
          ordersRel.removeChild(this);
          ordersRel.setChildrenView();
        });
        child.addEventListener("change order status",function() {
          ordersRel.removeChild(this);
          ordersRel.setChildrenView();
        });
      }
      for (const child of ordersRel.children) {
        child.parentNode=new NodeFemale();
        child.parentNode.copyProperties(ordersRel);
      }
      const orders=await Node.requestMulty("get my tree up", ordersRel.children);
      for (const i in orders) {
        ordersRel.children[i].parentNode.load(orders[i]);
        ordersRel.children[i].parentNode.partnerNode.parentNode=new NodeFemale();
        ordersRel.children[i].parentNode.partnerNode.parentNode.props.childtablename=ordersRel.children[i].parentNode.props.parenttablename;
      }
    }
    ordersRel.setChildrenView(thisElement, "userordersline");
  </script>
</table>