<!--
-->
<tr>
  <td>
    <span></span>
    <script>
      thisNode.writeProperty(thisElement, "creationdate");
    </script>
  </td>
  <td>
    <a href=""></a>
    <script>
      let thisUser=webuser, fieldtype='textnode', showAddress=false;
      if (webuser.isOrdersAdmin) {
      //Complit user information
        thisUser=thisNode.parentNode.partnerNode;
        await thisUser.loadRequest("get my relationships");
        const dataRel=await thisUser.getRelationship("usersdata").loadRequest("get my children");
        thisElement.textContent=dataRel.getChild().props.fullname;
        fieldtype='input';
      }
      else {
        thisElement.textContent=webuser.getRelationship("usersdata").getChild().props.fullname;
      }
      if (Config.chktaddressOn) showAddress=true;
      thisElement.clickOn=false;
      thisElement.addEventListener('click', function(event){
        event.preventDefault();
        if (!thisElement.clickOn) {
          const thisRow=Node.dom.closesttagname(thisElement, "TR");
          const thisTable=Node.dom.closesttagname(thisElement, "TABLE");
          const myrow=thisTable.insertRow(thisRow.rowIndex+1);
          const mycell=myrow.insertCell(0);
          mycell.colSpan=thisTable.tHead.rows[0].cells.length;
          thisUser.setView(mycell, "rmbox", {myTp: "useraddressview", removeContainer: myrow, myParams: {fieldtype: fieldtype, showAddress: showAddress}});
          thisElement.clickOn=true;
          const myCloseFunc= ()=> {if (thisElement.clickOn) thisElement.clickOn=false};
          thisUser.addEventListener('closewindow', myCloseFunc, null, null, true);
        }
      });
    </script>
  </td>
  <td class="containerbuttons">
    <button type="button" class="iconbuttons">
      <div class="viewinimage"></div>
      <script>
        if (window.getComputedStyle(thisElement).backgroundImage) {
          Node.dom.setSizeFromStyle(thisElement);
        }
      </script>
    </button>
    <script>
      thisElement.clickOn=false;
      thisElement.addEventListener('click', async (event)=>{
        event.preventDefault();
        if (!thisElement.clickOn) {
          await thisNode.loadRequest("get my tree");
          const thisRow=Node.dom.closesttagname(thisElement, "TR");
          const thisTable=Node.dom.closesttagname(thisElement, "TABLE");
          const myrow=thisTable.insertRow(thisRow.rowIndex+1);
          const mycell=myrow.insertCell(0);
          mycell.colSpan=thisTable.tHead.rows[0].cells.length;
          thisNode.setView(mycell, "rmbox", {myTp: "order", removeContainer: myrow});
          thisElement.clickOn=true;
          thisNode.addEventListener('closewindow', ()=> {if (thisElement.clickOn) thisElement.clickOn=false}, null, null, true);
        }
        else thisElement.clickOn=false;
      });
    </script>
  </td>
  <template>
    <td class="containerbuttons" style="position:relative;">
      <div class="admnbtsgrid"></div>
      <script>
        if (webuser.isOrdersAdmin()) {
          var myNewStatus=1;
          if (thisNode.props.status==1) myNewStatus=0;
          thisNode.appendView(thisElement, "butsuccessorder", {newStatus: myNewStatus});
          thisNode.appendView(thisElement, "butdelete");
        }
      </script>
    </td>
  </template>
</tr>
<script>
  if (webuser.isOrdersAdmin()) {
    thisNode.appendView(thisElement, thisElement.querySelector('template'))
  }
</script>