.expander-img {
  background: url(images/expander.svg) no-repeat;
  background-size: contain;
}
.reducer-img {
  background: url(images/reducer.svg) no-repeat;
  background-size: contain;
}
.edit-wrapper {
  position: relative;
}
.td-line{
  padding: 0 1.6em;
}
.line {
  display: flex;
}
ul {
  list-style: none;
}