 <!--
-->
<div class="dashboard" data-container>
  <form data-form>
    <div id="logform">
      <div class="msgbox" data-titmsg>
        <div data-butedit class="btmiddleright"></div>
        <span data-value></span>
      </div>
      <div class="boxframe">
        <div class="field-grid">
          <div class="form-group" data-password>
            <div style="position: relative;" data-label>
              <div class="btmiddleright" data-butedit></div>
              <label for="new_password" class="form-label" data-value></label>
            </div>
            <input type="password" class="form-field" placeholder="" name="new_password" data-text>
          </div>
          <div class="form-group" data-repeat-password>
            <div style="position: relative;" data-label>
              <div data-butedit class="btmiddleright"></div>
              <label class="form-label" for="repeat_password" data-value></label>
            </div>
            <input type="password" class="form-field" placeholder="" name="repeat_password" data-text>
          </div>
          <div style="position:relative;" data-save>
            <div data-butedit class="btmiddleright"></div>
            <button type="submit" class="btn" data-value></button>
          </div>
        </div>
      </div>
      <div style="position:relative;" data-pwdcharerror>
        <div data-butedit class="btmiddleright"></div>
        <input type="hidden" name="pwdCharError" disabled data-hidden data-value>
      </div>
      <div style="position:relative;" data-pwdok>
        <div data-butedit class="btmiddleright"></div>
        <input type="hidden" name="pwdOk" disabled data-hidden data-value>
      </div>
      <div style="position:relative;" data-pwd-error>
        <div data-butedit class="btmiddleright"></div>
        <input type="hidden" name="pwdNotOk" disabled data-hidden data-value>
      </div>
      <div style="position:relative;" data-pwd-double-error>
        <div data-butedit class="btmiddleright"></div>
        <input type="hidden" name="pwdDoubleError" disabled data-hidden data-value>
      </div>
    </div>
  </form>
</div>