<form  data-container data-form>
  <div id="logform">
  <!--
    <div class="msgbox" style="position:relative;">
      <div data-id="butedit" class="btmiddleright"></div>
      <span></span>
      <script>
        const title=thisNode.getNextChild("signuptt").getRelationship("siteelementsdata").getChild();
        title.writeProp(thisElement);
        //adding the edition pencil
        if (webuser.isWebAdmin()) {
          const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.mjs');
          visibleOnMouseOver( thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
          title.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
        }
      </script>
    </div>
    -->
    <div class="loginform">
      <div class="form-group">
        <div data-username-label>
          <span style="position:relative;">
            <div data-butedit class="btmiddleright"></div>
            <label class="form-label" for="user_name" data-value></label>
          </span>
        </div>
        <input class="form-control" name="user_name" data-username-input data-value>
      </div>
      <div class="form-group">
        <div data-password-label>
          <span style="position:relative;">
            <div data-butedit class="btmiddleright"></div>
            <label class="form-label" for="user_password" data-value></label>
          </span>
        </div>
        <input type="password" class="form-control" placeholder="" name="user_password" data-value data-password-input>
      </div>
      <div class="form-group">
        <div data-repeat-password-label>
          <span style="position:relative;">
            <div data-butedit class="btmiddleright"></div>
            <label class="form-label" for="repeat_password" data-value></label>
          </span>
        </div>
        <input type="password" class="form-control" name="repeat_password" data-value data-repeat-password-input>
      </div>
      <div class="sign-up-button" style="position:relative;" data-sign-up-button>
        <div data-butedit class="btmiddleright"></div>
        <button type="submit" class="btn" data-value></button>
      </div>
    </div>
    <div style="position:relative;" data-usercharerror>
      <div data-butedit class="btmiddleright"></div>
      <input type="hidden" name="userCharError" disabled data-hidden data-value>
    </div>
    <div style="position:relative;" data-pwdcharerror>
      <div data-butedit class="btmiddleright"></div>
      <input type="hidden" name="pwdCharError" disabled data-hidden data-value>
    </div>
    <div style="position:relative;"  data-signed-up-ok>
      <div data-butedit class="btmiddleright"></div>
      <input type="hidden" name="signedUp" disabled data-hidden data-value>
    </div>
    <div style="position:relative;" data-UserExistsError>
      <div data-butedit class="btmiddleright"></div>
      <input type="hidden" name="userExistsError" disabled data-hidden data-value>
    </div>
    <div style="position:relative;" data-pwdDoubleError>
      <div data-butedit class="btmiddleright"></div>
      <input type="hidden" name="pwdDoubleError" disabled data-hidden data-value>
    </div>
    <!--
    <div class="dashbuttons">
      <div style="position:relative;">
        <div data-id="butedit" class="btmiddleright"></div>
        <button type="button" class="btn" data-id="but"></button>
        <script>
          const myTextNode=thisNode.getNextChild("loginBack").getRelationship("siteelementsdata").getChild();
          myTextNode.writeProp(thisElement);
          thisElement.onclick=function(){
            thisNode.setView(document.getElementById("centralcontent"), "loginform");
          }
          //adding the edition pencil
          if (webuser.isWebAdmin()) {
            const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.mjs');
            visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
            myTextNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          }
        </script>
      </div>
    </div>
    -->
  </div>
</form>