<!-- 
  This template shows the user data and user address and allows to save the changes. It is used in combination with userdata.html.
deprecated
-->
<div style="display:flex; flex-flow:column;" data-container>
  <div class="boxframe" style="align-items: center; display: flex; flex-flow: column; margin: 1em;">
    <div data-userdata></div>
    <div data-saver>
      <div style="margin-top:1em;position:relative">
        <div data-butedit class="btmiddleright"></div>
        <button type="button" class="btn" data-value></button>
      </div>
    </div>
  </div>
</div>