<!--
-->
<form class="dashboard" data-form data-container>
  <div>
    <div class="msgbox" data-titmsg>
      <div data-username style="margin-bottom: 1em; font-weight: bolder;"></div>
      <div data-value></div>
    </div>
  </div>
  <div>
    <div class="boxframe">
      <div class="field-grid">
        <div class="form-group" data-password>
          <label for="new_password" class="form-label" data-label data-value></label>
          <input type="password" class="form-field" placeholder="" name="new_password" data-text>
          <!-- probar class form-field-->
        </div>
        <div class="form-group" data-repeat-password>
          <label class="form-label" for="repeat_password" data-label data-value></label>
          <input type="password" class="form-field" placeholder="" name="repeat_password" data-text>
        </div>
        <div style="position:relative;" data-save>
          <button type="submit" class="btn" data-value></button>
        </div>
      </div>
    </div>
  </div>
</form>