<!-- 
This template shows the dashboard user address and allows to save the changes when fieldtyp input. It is used in combination with userinfo.html.
-->
<div class="dashboard" data-container>
  <div class="msgbox" style="position:relative;" data-addresstt>
    <div class="btmiddleright"  data-butedit></div>
    <span data-value></span>
  </div>
  <div style="margin:auto">
    <div style="display:flex; flex-flow:column;" data-container>
      <div class="boxframe" style="align-items: center; display: flex; flex-flow: column; margin: 1em;">
        <div data-addressform></div>
        <div data-saver>
          <div style="margin-top:1em;position:relative">
            <div data-butedit class="btmiddleright"></div>
            <button type="button" class="btn" data-value></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>