<div class="paragraph" style="position:relative;" data-container>
  <span data-edit-buts>
    <div data-butedit class="bttopleftinside"></div>
    <div data-buteditcode class="bttopleft"></div>
    <div class="bttopleftinsideafteredit">
      <div class="admnbtsgrid" data-admnbuts></div>
    </div>
  </span>
  <div data-value data-has-target data-target-attr="value" data-target-id="edit-text"></div>
  <textarea style="display:none; width:100%" rows="6" disabled data-edit-text data-has-target data-target-attr="innerHTML" data-toggle></textarea>
</div>
