<div class="paragraph" style="position:relative;" data-container>
  <div data-edit-buts>
    <div class="bttopleftinside">
      <div data-butedit style="display:flex"></div>
    </div>
    <div class="bttopleft">
      <div data-buteditcode style="display:flex"></div>
    </div>
    <div class="bttopleftinsideafteredit">
      <div class="admnbtsgrid" data-admnbuts></div>
    </div>
  </div>
  <div data-value data-has-target data-target-attr="value" data-target-id="edit-text"></div>
  <textarea style="display:none; width:100%" rows="6" disabled data-edit-text data-has-target data-target-attr="innerHTML" data-toggle></textarea>
</div>
