/*
Common styles

There are two different configurations: Default one for desktop pc screens and another for mobile screens.

Main Structure

Desktop structure:
fixed witdth of around 1200px
header: (flex) It contains page name and the icons for login and checkout.
navigation menu
slogan
menus (flex wrap)
column left and main content (<main>) (as flexbox).
footer

Note: We somethimes have to set height and width to 100% for avoiding the efect of block contraction when loading some content in a block element
*/

/* new stuff
 ------------------- */
 
.rememberme{
	padding-right: 0.2em;
}
.rememberme:hover{
	outline:1px solid #2196F3;
	padding-right: 0.2em;
}

.page-indexes{
	display: flex;
	margin: 1em 0;
}

.page-indexes a{
	border: 1px solid #aaa;
	padding: 0.5em 0.6em;
	margin: 0.3em;
	color: #666;
}

.page-indexes a.selected, .page-indexes a.selected:hover{
	background-color: lightgrey;
	border-color: lightgrey;
}

.page-indexes a:hover{
	background-color: grey;
}

.addtocartgrid .btn{
	box-shadow: 1px 1px 3px 1px rgb(158 171 220 / 50%);
	padding: 0.3em 0.6em;
	position: relative;
	top: -2px;
	/*display: inline-block;*/
	border: 1px solid rgb(4 66 137 / 0.2);
	border-radius: 4px;
	cursor: pointer;
	background-color: white;
}

.dialogbox .btn{
	background-color: lightskyblue;
}

.dialogbox .btn:hover{
	border-color: darkslateblue;
}

/* General stuff
 ---------------------- */
 
/* This is because when there is no href value cursor is arrow */
a {
	cursor: pointer;
}

button, [type="button"] {
	outline: none;
}
input{
	outline-color: #2196F3;
}
/* Main Structure
 ------------------------------ */

html, body {
  min-width: fit-content;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.backgroundimage {
  min-height: 100%;
}
.backgroundspace {
  width: 100%;
  padding: 5px 0;
  display: flex;
}
.mainblock {
  max-width: 1200px;
  min-width: 1200px;
}
@media screen and (max-width: 400px){
  div.mainblock {
    min-width: unset;
  }
}
header {
  margin-left: 1em;
  margin-right: 1em;
}
#dashmenu{
	position: absolute;
	top: 35px;
	z-index: 15;
	border: 1px solid grey;
	border-radius: 3px;
	transition: transform 400ms ease-in-out;
	left: 120px;
	visibility: hidden;
	transform: translateY(-15px);
}
#cartbox {
	position: absolute;
	top: 55px;
	z-index: 15;
	right: 0px;
	transform: scale(1);
	transition: transform 400ms cubic-bezier(0.7, -0.57, 0.29, 1.63);
	transform-origin: top;
}
.pgsubtitle {
  margin-left: 1em;
}
nav.menus .menuscontainer {
  margin: 1em;
  margin-top: 0.5em;
}
.nav-toggle {
	visibility: hidden;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.langsdropdown {
	margin-left: 0.8em;
	margin-right: 0.8em;
	display: flex;
}
.langsdropdown select {
	margin: auto;
}
@media screen and (max-width: 400px){
	.nav-toggle {
		visibility: visible;
	}
	nav.menus {
		position: absolute;
		z-index: 20;
		/*display: none;*/
		transform: scale(1, 0);
		/*width: 100%;*/
		transition: transform 400ms ease-in-out;
		transform-origin: top;
	}
	nav.menus ul.menuscontainer{
		flex-direction: column;
		gap: 0;
		background-color: var(--mainbackground);
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}
	nav.menus ul.menuscontainer li{
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 1em;
		margin-right: 1em;
	}
}
.maincolumns {
  display: flex;
}
.maincolumns nav.categories{
  min-width: 18em;
}
@media screen and (max-width: 400px){
	.maincolumns nav.categories{
		margin: auto;
	}
}
#catalogbox {
  position: sticky;
  top: 0;
  z-index: 9;
}
.leftsidebox {
  margin-left: 1em;
  margin-right: 0.5em;
}
.maincolumns main {
  flex-grow: 1;
}
.centercolumn {
  margin-left: 0.5em;
  margin-right: 1em;
  position: relative;/*??????? maybe for absolute positioning*/
}
#centralcontent {
    padding: 1em 2em 2em 2em;
    min-height: 21em;
}
footer {
  margin: 0em 1em;
}

/* Elements */
/* --------------------------------- */

/* Colors
	Dark: hsl(0, 0%, 10%);
	Light dark 20%, grey 30%, light grey: 40%
*/

header .headertop{
  display: flex;
}
@media screen and (max-width: 400px){
  header div.headertop {
    display: block;
  }
}
header .pgtitle{
  flex-grow: 1;
}
.pgtitle h1 {
  font-size: 2.5em;
  margin: 0;
  color: hsl(0, 0%, 30%);
}
.pgsubtitle h2 {
  font-size: 1.2em;
  margin: 0.3em 0 0.3em 0.3em;
  color: color: hsl(0, 0%, 30%);
  font-weight: normal;
}
header .toolbar{
  display: flex;
  padding-left: 4em;
	position: relative; /* important for cart positioning*/
	margin-top: 0.3em;
}
header .toolbar a.toolbaricon{
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: center;
  font-size: 14px;
}
@media screen and (max-width: 400px){
	.pgsubtitle{
		display: none;
	}
	.pgtitle h1 {
		font-size: 1.5em;
		margin-bottom: 0.6em;
	}
	header {
		margin-bottom: 1em;
	}
	header div.toolbar {
		padding-left: 5px;
		align-items: center;
		gap: 0.5em;
	}
}
#cartbox{
  border-radius: 3px;
  border: 1px solid #AAA;
}
#cartbox .product a, #cartbox tr.product span{
  font-size: 9pt !important;
}
#cartbox .product a{
  margin: 0px 0.1em 0px 0px;
}
#cartbox .product td:hover{
  background: rgb(241, 228, 204);
}
#cartbox .product span{

}
#cartbox .cartitemscontainer {
  display: flex;
  margin-left: 0.3em;
  margin-right: 0.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
#cartbox .cartitemscontainer > div{
  margin-left: 0.2em;
  margin-right: 0.2em;
}
#cartbox .btn{
	padding: 0.2em 0.5em;
}
.checkoutcontainer {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.checkoutcontainer > *{
	margin: 0.2em;
}
#dashmenu .dashbuttons {
	gap: 0;
}

#dashmenu .dashbuttons .btn-container{
	width: 100%;
}
#dashmenu .dashbuttons .btn-container .btn{
	width: 100%;
	font-weight: normal;
	border-radius: 0;
	border: 0;
	background-color: unset;
	background-image: unset;
	gap: 1em;
}
#dashmenu .dashbuttons .btn-container .btn:hover{
	background-color: rgb(0 0 0 / 0.05);
}
@media screen and (max-width: 400px){
	ul.menuscontainer {
		border: 1px solid grey;
		border-radius: 3px;
	}
}
.menuscontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 2.7em; /* Avoid menu high reduction whenever empty */
	gap: 1.8em;
}
.menuscontainer li {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.menuscontainer a.menu{
  font-size: 1.5em;
  color: hsl(0, 0%, 30%);
}
.menuscontainer a.menu:hover, .menuscontainer .selected a.menu{
  color: hsl(0, 0%, 10%);
}
.sidebox {
  min-width: 10em;
}
.sidebox .boxtitle{
  padding: 0.4em 0;
  text-align: center;
	color: hsl(0, 0%, 20%);
}
.sidebox .boxtitle, .sidebox .boxtitle a{
  font-weight: bold;
}
.sidebox .boxbody{
  padding: 0.5em 0;
  display: flex;
  flex-flow: column;
}
.sidebox .boxbody a{
  color: rgb(80,80,80);
}
.sidebox .boxbody a:hover{
	color: hsl(0, 0%, 10%);
}
.sidebox .boxbody a.selected{
  font-weight: bold;
	color: hsl(0, 0%, 10%);
}
.sidebox .boxlist{
  padding: 3px 8px 3px 8px;
}
a.category{
  font-size: 0.9em;
  color: #303030;
  font-weight: bold;
}
a.subcategory{
  font-size: 0.9em;
  color: #303030;
}
.subcategorycontainer{
  margin-left: 1em;
}
.paragraph {
  position: relative; /*?????????*/
  padding: 0.2em 0 1.2em 0;
  line-height: 1.6em;
}
.space {
	width: 100%;
  height: 2em;
}
.msgbox {
    border: 1px solid hsl(0, 0%, 70%);
    padding: 1em 2em;
    text-align: center;
    margin: 1.5em;
    border-radius: 3px;
    display: inline-block; /*????????*/
		align-self: center;
}
.btn{
  display: inline-block; /*????????*/
  padding: 0.5em 1.5em;
  border: 1px solid rgb(4 66 137 / 0.2);
  border-radius: 4px;
  cursor: pointer;
  font: unset;
  font-weight: bold;
}
.btn:hover{
	border-color: #2196F3;
}
.minibtn{
  padding: 0 0.3em;
}
.admnbtsgrid {
  z-index:1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.bttopcenter{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-100%);
}
.bttopleft{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%) translateY(-100%);
}
.bttopleftinside{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
}
.bttopleftinsideafteredit{
	position: absolute;
	top: 0;
	left: 40px;
	transform: translateY(-100%);
}
.bttopinsideleftinside{
	position: absolute;
	top: 0;
	left: 0;
}
.bttopinsiderightinside{
	position: absolute;
	top: 0;
	right: 0;
}
.btmiddleleft{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateX(-100%) translateY(-50%);
}
.btmiddleright{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateX(100%) translateY(-50%);
}
.btmiddlecenter{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.btbottomcenter{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
}
.btbottominsiderightinside{
	position: absolute;
	bottom: 0;
	right: 0;
}
.btleftmiddle {
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateX(-100%) translateY(-50%);
}
.btrightadmn {
	position: absolute;
	top: calc(50% - 16px);
	left: 40px;
}
.btleftedit {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-50%) translateY(-50%);
}
.butedit, .butdel, .butadd, .butsucs, .butarrows, .butdots, .iconbuttons, .buteditcode, .buttons{
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  cursor: pointer;
  justify-self: left;
}
 .butdots{
  padding: 5px 7px;
 }
.alert {
  display: table; /*????????????*/
  position: fixed !important;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 16em;
  max-width: 90%;
  z-index:100;
}
.alertmsg, .dialogbox  {
	border: 1px solid;
	padding: 0.5rem;
	text-align: center;
	border-radius: 3px;
}
.greenalert{
	background-color: yellowgreen;
}
.redalert{
	background-color: rgb(250, 209, 99);
}
.cartplusimage {
  background: url(images/cartplus.svg) no-repeat;
  background-size: contain;
}
.editimage {
  background: url(images/pencil.svg) no-repeat;
  background-size: contain;
}
.editcodeimage {
  background: url(images/code.svg) no-repeat;
  background-size: contain;
}
.delimage {
  background: url(images/trash.svg) no-repeat;
  background-size: contain;
}
.plusimage {
  background: url(images/plus.svg) no-repeat;
  background-size: contain;
}
button.closeimage {
  background: url(images/closeicon.svg) no-repeat;
  background-size: contain;
	cursor: pointer;
	width: 1em;
	height: 1em;
}
button.closeimage:hover{
	transform: scale(1.1);
}
.arrowleftimage {
  background: url(images/arrowleft.svg) no-repeat;
  background-size: contain;
}
.arrowrightimage {
  background: url(images/arrowright.svg) no-repeat;
  background-size: contain;
}
.arrowupimage {
  background: url(images/arrowup.svg) no-repeat;
  background-size: contain;
}
.arrowdownimage {
  background: url(images/arrowdown.svg) no-repeat;
  background-size: contain;
}
.zoomimage {
  background: url(images/zoom.svg) no-repeat;
  background-size: contain;
}
.checkimage {
  background: url(images/check.svg) no-repeat;
  background-size: contain;
}
.viewinimage {
  background: url(images/viewin.svg) no-repeat;
  background-size: contain;
}
.undoimage {
  background: url(images/undo.svg) no-repeat;
  background-size: contain;
}
.dotsimage {
  background: url(images/dots.svg) no-repeat;
  background-size: contain;
}
.shoppingcartimage {
  background: url(images/shoppingcart.svg) no-repeat;
  background-size: contain;
  margin: 0 auto 2px auto;
}
.userimage {
  background: url(images/user.svg) no-repeat;
  background-size: contain;
  margin: 0 auto 2px auto;
}

.circleloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 60px;
  height: 60px;
  align-self: center;
  display: inline-block;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.useraddressbox {
	display:grid;
	grid-template-columns: auto auto;
	gap: 1em;
	margin: 1em;
}
@media screen and (max-width: 400px){
	.useraddressbox {
		grid-template-columns: auto;
	}
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-toggle {
	position: relative;
	height: 26px;
	cursor: pointer;
	align-items: center;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
	height: 2px;
	width: 2em;
	background: black;
	position: relative;
	border-radius: 2px;
}
.nav-toggle span:before,
.nav-toggle span:after {
	content: '';
	position: absolute;
}
.nav-toggle span:before {
	bottom: 7px;
}
.nav-toggle span:after {
	top: 7px;
}
.checkout h3{
  margin-bottom: 0px;
}
#paymentcontainer{
	margin: 1em auto;
	display: inline-flex;
	flex-flow: column;
}
#shippingcontainer{
	margin: 0.2em auto;
}
#shippingcontainer td{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
/*Export import*/
.export-import .exp-select td{
	display: flex;
	gap: 1em;
}



/* General, distributed */
/* ------------------------------------------- */
:root {
	--mainbackground: white;
}
html {
  scroll-behavior: smooth;
}
/* For edition elements inline display is not nice, better this */
span, a {
  display: inline-block; /*??????????????????*/
}
html, select, button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
a {
  text-decoration: none;
  color: black;
}
[data-placeholder]:empty::before{content: attr(data-placeholder); color:grey}
a:hover[data-placeholder]:empty::before{color:hsl(0, 0%, 10%)}
a.selected[data-placeholder]:empty::before{color:hsl(0, 0%, 10%)}
[contenteditable=true]:focus{outline: 2px dashed lightgrey;}
/* Table for formating. Transparent. */
table{border-collapse:collapse;} /* It is needed for the table border to be 0 width */
td,th{padding:0;vertical-align:top;} /* Padding 0 because this tables are used as boxes to locate the content. vertical-align:top because the content in the table should be as appear in the dom that is positioning from top to down */
table.list {
  margin:auto;
  border: 1px #666 solid;
}
table.list > tbody > tr > td {
  border: 1px #666 solid;
  padding:0.5em;
  vertical-align: middle;
}
table.list > thead > tr > th {
  background-color: #F0F0F0;
  padding:5px;
  vertical-align: middle;
}
table.list > tbody > tr > td.containerbuttons{
  text-align: center;
}
details {
	cursor: pointer;
}
details summary:hover{
	color: #555;
}
details .explanation{
	max-width: 15em;
	width: max-content;
	padding: 0.5em;
	border: 1px solid;
	border-radius: 3px;
}

/* Unchecked zone */
/* ------------------------ */





.transp{
  background: transparent;
  border: transparent;
}
.transp:hover{
  color: #3705D2 !important;
}

.
.btrel{
    position: relative;
}
.contenteditableactive {
  background-color: white;
  color: rgb(27,31,35) !important;
  padding: 2px 4px;
  border: 1px solid rgba(27,31,35,0.8);
}
.rmbox {
  position:relative;
  display: table;
  margin: auto;
}


.form-group {
    display: block;
}
.form-label {
    display: block;
    margin-bottom: .375rem;
    font-weight: 600;
    font-size: 0.875rem;
}
.form-control:hover{
	border-color: #2196F3;
}
.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-field {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px;
}
.formtable {
  background-color: #e5e6f5;
  border: 1px solid #AAA;
  border-radius: 3px;
  /* box-shadow: 0px 3px 6px rgb(136, 136, 136); */
}
.formtable {
  margin: 0 auto 2rem auto;
  border-collapse: separate;
}
.formtable a {
  color: #3D3E3D !important;
    font-weight: normal !important;
}
.formtable a:hover {
  color: #D2853C !important;
}
.formtable th {
    background-color: #ededed;
    border-bottom: 1px solid #AAA;
}
.formtable th {
    padding: 4px;
}
.formtable td {
    padding: 0.2rem 0.5rem;
}
.formtable > div {
    padding: 0.2rem 0.5rem;
}
.formtable td.label{
  text-align: right;
}
.formtable td.hr {
    height: 5px;
}
.formtable td.centertext {
  text-align: center;
}




.boxframe {
  border: 1px solid #AAA;
  border-radius: 3px;
  padding: 0.5em;
}
.flexbox{
  display: flex;
  align-items: center;
}
.flexbox > div{
	margin: 4px;
}
.flexrows{
  display: flex;
  flex-flow: column;
}
.flexjoin {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.orderrows > div{
	margin: 6px 4px;
}
.ordercartframe, .orderframe{
	display: inline-block;
	margin: 1em;
}
.ordercartitems, .orderitems {
	display:grid;
	grid-template-columns:1fr 4fr 1fr;
	row-gap: 0.5em;
	padding: 0.5em;
}
.ordercarttotals, .ordertotals {
	border-top:1px solid #666;
	padding-top: 0.5em;
    text-align: right;
    padding-right: 2.2em;
}
.shippingitem{
	padding: 0.5em;
	text-align:right;
	padding-right:2.2em
}
.paybutton {
	align-self: center;
}
.ordershipping {
	display: inline-flex;
	flex-flow: row;
	margin-left:auto;
}
.sidebox .boxbody{
  padding: 0.5em 0;
  display: flex;
  flex-flow: column;
}
.dashboard {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.separator {
	width: 100%;
}
.loginform{
	display:flex;
	flex-flow:column;
	align-items:center;
	margin-bottom: 2em;
}
.loginform > div {
	margin:0.5em;
}
#logform {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.centerelements{
	display: flex;
	flex-flow: column;
	align-items: center;
}
.closeXfont {
	font-size:1.4em;
	font-weight: bold
}
.dashbuttons {
	align-items: center;
    display: flex;
    flex-flow: column;
		gap: 1em;
}
.userdatabox_old {
    display: grid;
    grid-template-columns: auto auto;
    width: 40em;
    margin: 1em;
	gap: 1em;
}
.singlefield{
	padding-right: 2.2em;
}
.adminbuttonscontainer {
	display: table;
}
/* items */
.productlistgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.productgrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
  height: 100%; /* All the elements in a row have the same long*/
  border-radius: 3px;
}
.productimg {
  position: relative;
	margin-left: 0.5em;
	margin-top: 1.3em;
}
.productimg img.productimg {
	align-self: center;
	margin: auto;
}
.productlargecontainer {
	width:100%;
	padding-top: 2em; 
}
.productprice {
  display: flex;
  align-items: center;
}
.productgrid p{
  color:#30270c;
  margin: 0px;
  padding: 0px;
}
.productgrid a.selected{
  font-weight: bold;
}
.textpoduct h3{
  margin: 0px 0px 0.5rem;
  padding: 0px;
}
div.textproduct {
  margin: 0 0.4em;
}
div.textproduct a.tit{
  color: rgb(80,80,80);
}
div.textproduct a.tit:hover{
  color: rgb(20,20,20);
}
div.addtocart {
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: span 2;
  align-self: end;
  justify-self: center;
  color:#666;
}
div.addtocartgrid {
  display: flex;
}
div.addtocartgrid > div {
  margin: 0.5em;
}
div.quantityselect {
    display: flex;
    align-items: center;
}
/*Loader ???*/
#cartbox .boxtitle span{
  margin-left: 8px;
}
@media screen and (max-width: 400px){
	div.maincolumns {
	  display: block;
	  width: 100%;
	}
	div.centercolumn {
		margin: 1em;
		margin-left: 1.5em;
	}
	.menuscontainer a.menu {
		font-size: 1.2em;
		margin: 0.2em;
	}
	#centralcontent {
		padding: 1em;
	}
	.productlistgrid {
		grid-template-columns: auto;
	}
	div.productshortcontainer div.textproduct div.itemdescription{
		display: none;
	}
	div.productshortcontainer{
		color:rgb(40,40,40);
	}
	
	div.productgrid {
		grid-template-columns: auto;
	}
	div.productimg img.productimg {
		max-width: 210px;
	}
	div.productlargecontainer {
		padding-top: 2.5em; 
	}
	div.addtocart {
		display: inline-block;
		grid-column-start: unset;
		grid-column-end: unset;
	}
	nav.categories div.boxtitle {
		display: none;
	}
	div.space {
		height: 1em;
	}
	header div.toolbar a.toolbaricon {
		font-size: 0.9em;
	}
}

/*
table.order .product {
  width: 65%;
}
table.order .quantity {
  width: 11%;
}
table.order .price {
  width: 14%;
}
table.order .total {
  width: 10%;
}
table.order tr.total {
  font-weight: bold;
  text-align: right;
}
*/