.backgroundimage {
  background-image: linear-gradient(180deg, #d46 0%, #fff 90%);
  min-height: 100%;
}
.btn{
   background-color: #316cbe;
     border-radius: 0.25em;
     padding: 5px 10px;
     color: white;
}