.shoppingcartimage {
  background: url(images/shoppingcart.svg) no-repeat;
  background-size: contain;
  margin: 0 auto 2px auto;
}
#cartbox {
  position: absolute;
  top: 55px;
  z-index: 15;
  right: 0px;
}
#cartbox{
  border-radius: 3px;
  border: 1px solid #AAA;
}
#cartbox {
  visibility: hidden;
  transition: transform 400ms cubic-bezier(0.2, 0, 0.13, 1.5);
  transform-origin: top;
  transform: scale(1);
}
#cartbox.appear {
  visibility: visible;
  transform: scale(1.2);
}
#cartbox .product a, #cartbox tr.product span{
  font-size: 9pt !important;
}
#cartbox .product a{
  margin: 0px 0.1em 0px 0px;
}
#cartbox .product td:hover{
  background: rgb(241, 228, 204);
}
#cartbox .product span{
}
#cartbox .cartitemscontainer {
  display: flex;
  margin-left: 0.6em;
  margin-right: 0.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
#cartbox .cartitemscontainer > div{
  margin-left: 0.2em;
  margin-right: 0.2em;
}
#cartbox .cartitemscontainer .mouseover{
  font-weight: bold;
  transform: translateY(-1px);
}
#cartbox .btn{
	padding: 0.2em 0.5em;
}
#cartbox .bt-wrapper{
	display: flex;
	align-items: flex-start;
}
#cartbox .boxtitle{
  margin-left: 0.2em;
  margin-top: 1px;
}
#cartbox .boxbody {
    padding: 0;
}
.checkoutcontainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 0.5em;
}
.checkoutcontainer > *{
  margin: 0.2em;
}

div.addtocart {
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: span 2;
  align-self: end;
  justify-self: center;
  color:#666;
}
div.addtocartgrid {
  display: flex;
}
div.addtocartgrid > div {
  margin: 0.5em;
}
.addtocartgrid .btn{
  box-shadow: 1px 1px 3px 1px rgb(158 171 220 / 50%);
  padding: 0.3em 0.6em;
  position: relative;
  top: -2px;
  /*display: inline-block;*/
  border: 1px solid rgb(4 66 137 / 0.2);
  border-radius: 4px;
  /*cursor: pointer;*/
  background-color: white;
}
div.quantityselect {
    display: flex;
    align-items: center;
    color: #666;
}
.quantityselect select{
    color: #666;
}
@media screen and (max-width: 400px){
  div.addtocart {
    display: inline-block;
    grid-column-start: unset;
    grid-column-end: unset;
  }
}
.cartplusimage {
  background: url(images/cartplus.svg) no-repeat;
  background-size: contain;
}
/* order */
.useraddressbox {
  display:grid;
  grid-template-columns: auto auto;
  gap: 1em;
  margin: 1em;
}
@media screen and (max-width: 400px){
  .useraddressbox {
    grid-template-columns: auto;
  }
}
.checkout h3{
  margin-bottom: 0px;
}
#paymentcontainer{
  margin: 1em auto;
  display: inline-flex;
  flex-flow: column;
}
#shippingcontainer{
  margin: 0.2em auto;
}
#shippingcontainer td{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.ordercartframe, .orderframe{
  display: inline-block;
  margin: 1em;
}
/* ***<-- old start */
.ordercartitems, .orderitems {
  display:grid;
  grid-template-columns:1fr 4fr 1fr;
  row-gap: 0.5em;
  padding: 0.5em;
}
/* <-- old end */
.orderitemscontainer{
  padding: 0.5em;
}
.ordercarttotals, .ordertotals {
  border-top:1px solid #666;
  padding-top: 0.5em;
    text-align: right;
    padding-right: 2.2em;
}
.shippingitem{
  padding: 0.5em;
  text-align:right;
  padding-right:2.2em
}
.paybutton {
  align-self: center;
}
.ordershipping {
  display: inline-flex;
  flex-flow: row;
  margin-left:auto;
}