.dashboard {
	display: flex;
	flex-flow: column;
	align-items: center;
}

/*Export import*/
.export-import .exp-select td{
	display: flex;
	gap: 1em;
	align-items: flex-start;
}
.langselectlist{
    margin: 0.5em;
}
.field-grid{
	display:flex;
	flex-flow:column;
	align-items:center;
	padding: .5em 1.5em;
	gap: .8em;
}