<div class="backgroundimage">
  <div class="backgroundspace">
    <div class="mainblock" data-body-container>
      <header>
        <div class="headertop">
          <div class="pgtitle">
            <h1 style="position:relative; display: inline-block;" data-site-title>
              <div data-butedit class="btmiddleright"></div>
              <span data-value></span>
            </h1>
          </div>
          <div class="toolbar">
            <div class="nav-toggle" data-navtoggle>
              <span></span>
            </div>
            <div class="langsdropdown" data-lang-select-container>
              <select data-value></select>
            </div>
            <a class="toolbaricon" data-log-icon-button>
              <div class="userimage"></div>
              <div class="icon-caption" data-value></div>
            </a>
            <div class="sidebox" id="dashmenu"></div>
            <a class="toolbaricon"  data-cart-icon-button>
              <div class="shoppingcartimage"></div>
              <div class="icon-caption" data-value></div>
            </a>
            <div class="sidebox" id="cartbox" data-cartbox></div>
          </div>
        </div>
      </header>
      <div class="pgsubtitle">
        <h2 style="position:relative; display: inline-block;" data-site-subtitle>
          <div data-butedit class="btmiddleright"></div>
          <span data-value></span>
        </h2>
      </div>
      <nav class="menus" data-menus>
        <ul class="menuscontainer" data-container></ul>
      </nav>
      <div class="maincolumns">
        <nav class="categories">
          <div class="sidebox leftsidebox" id="catalogbox">
            <div class="boxtitle">
              <span style="position:relative" data-ctgtitle>
                <div data-butedit class="btmiddleright"></div>
                <span data-value></span>
              </span>
            </div>
            <div class="boxbody" data-cats-container></div>
          </div>
          <div class="space"></div>
        </nav>
        <main>
          <div class="centercolumn">
            <div id="centralcontent" data-centralcontent></div>
          </div>
        </main>
      </div>
      <footer>
        <div style="text-align:right;">
          <p data-designed>
            <span data-value></span>
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>