<!--
  newStatus
-->
<button type="button" class="buttons">
  <div class="checkimage"></div>
  <script>
    if (thisParams.newStatus==0) {
      thisElement.className="undoimage";
    }
    if (window.getComputedStyle(thisElement).backgroundImage) {
      const {setSizeFromStyle}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
      setSizeFromStyle(thisElement);
    }
  </script>
</button>
<script type="text/javascript">
  thisElement.onclick=function() {
    thisNode.request("edit my props", {props:{status: thisParams.newStatus}})
    .then(res => {
      thisNode.parent.removeChild(thisNode);
      //for no children add a eventlistener to setChildrenView event
      if (thisNode.parent.childContainer) thisNode.parent.setChildrenView();
      thisNode.parent.dispatchEvent("change order status", [thisNode]);
      thisNode.dispatchEvent("change order status")
    });
    return false;
  }
</script>