<!--
  newStatus
  viewParent: the parent rel for setChildrenView
-->
<button type="button" class="buttons">
  <div class="checkimage"></div>
  <script>
    if (thisParams.newStatus==0) {
      thisElement.className="undoimage";
    }
    if (window.getComputedStyle(thisElement).backgroundImage) {
      const {setSizeFromStyle}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
      setSizeFromStyle(thisElement);
    }
  </script>
</button>
<script type="text/javascript">
  const {getDomElementFromChild} = await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
  const myParent=thisParams.viewParent? thisParams.viewParent: thisNode.parent;
  thisElement.onclick=function() {
    thisNode.request("edit my props", {values:{status: thisParams.newStatus}})
    .then(res => {
      const element=getDomElementFromChild(thisNode, myParent);
      
      if (myParent.childContainer) {
        if (element) {
          element.parentElement.removeChild(element);
        }
        else myParent.setChildrenView();
      }
      myParent.removeChild(thisNode);
      myParent.dispatchEvent("change order status", [thisNode]);
      thisNode.dispatchEvent("change order status")
    });
    return false;
  }
</script>