<div style="position:relative">
  <div data-id="butedit" class="btmiddleright"></div>
  <button type="button" class="btn" data-id="but" data-href="?chktmain"></button>
  <script>
    const myNode=thisNode.getNextChild("ckouttt").getRelationship("siteelementsdata").getChild();
    myNode.writeProp(thisElement);
    const {setHistoryState, pushHistoryState} = await import('./' + CLIENT_MODULES_PATH + 'navhistory.mjs');
    const {myCart} = await import('./' + CLIENT_MODULES_PATH + 'cart.mjs');
    const chktAction=()=>myCart.toCheckOut();
    
    thisElement.onclick=function(){  
      chktAction();
      if (event.isTrusted) {
        pushHistoryState(url);
      }
    }
    const url='?chktmain=1';
    setHistoryState(myNode, url, chktAction);
  </script>
  <input type="hidden" disabled>
  <script>
    var myNode=thisNode.getNextChild("ckouttt").getRelationship("siteelementsdata").getChild();
    myNode.writeProp(thisElement);
    thisElement.onblur=function(){
      thisElement.parentElement.querySelector('button[data-id=but]').innerHTML=thisElement.value;
      thisElement.type="hidden";
    }
    //adding the edition pencil
    if (webuser.isWebAdmin()) {
      const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.mjs');
      visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
      myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
    }
  </script>
</div>
<div style="position:relative;">
  <div data-id="butedit" class="btmiddleright"></div>
  <button type="button" class="btn" data-id="but"></button>
  <script>
    var myNode=thisNode.getNextChild("discardtt").getRelationship("siteelementsdata").getChild();
    myNode.writeProp(thisElement);
    thisElement.onclick=function(){  
      import('./' + CLIENT_MODULES_PATH + 'cart.mjs')
      .then(({myCart})=>{
        myCart.getRelationship().children=[];
        myCart.refreshCartBox();
      });
    }
  </script>
  <input type="hidden" disabled>
  <script>
    var myNode=thisNode.getNextChild("discardtt").getRelationship("siteelementsdata").getChild();
    myNode.writeProp(thisElement);
    thisElement.onblur=function(){
      thisElement.type="hidden";
      thisElement.parentElement.querySelector('button[data-id=but]').innerHTML=thisElement.value;
    }
    //adding the edition pencil
    if (webuser.isWebAdmin()) {
      const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.mjs');
      visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
      myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
    }
  </script>
</div>