<!--
-->
<div class="boxlist">
  <div class="category-container" style="display: none">
    <span style="position:relative; z-index:1">
      <div data-id="admnbuts" class="btmiddleright">
        <div class="admnbtsgrid"></div>
      </div>
      <div data-id="butedit" class="btmiddleleft"></div>
      <a class="category"></a>
      <script>
        const {setActiveInGroup, getActiveInGroup, highLight} = await import(pathJoin('./', CLIENT_MODULES_PATH, 'activelauncher.js'));
        const {setHistoryState, pushHistoryState} = await import('./' + CLIENT_MODULES_PATH + 'navhistory.js');
        thisNode.highLightElement=thisElement;
        if (thisNode.selected) {
          highLight(thisNode); // Sometimes it is refreshed (when login/logout) so we highLight it
        }
        const url='?category=' + thisNode.props.id;
        thisElement.href=url;
        async function showsubcategories() {
          thisNode.getRelationship().addEventListener("deleteChildNode", function(nodedeleted) {
            //Remove the products container content
            if (this.children.length==0 && nodedeleted===getActiveInGroup('central content')) {
              document.getElementById("centralcontent").innerHTML="";
            }
          });
          const subcContainer=thisElement.parentElement.parentElement.parentElement.querySelector(".subcategorycontainer");
          subcContainer.style.display="none";
          const subcategoriesMother=thisNode.getRelationship();
          //When there is no subcategories we show a add subcategory button
          const {createInstanceChildText} = await import('./' + CLIENT_MODULES_PATH + 'languages.js');
          subcategoriesMother.addEventListener("setChildrenView", async function() {
            if (webuser.isProductAdmin() && this.children.length==0) {
              const newNode=await createInstanceChildText(this);
              newNode.setView(this.childContainer, "butaddnewnode");
            }
          }, "addNewNodeButton");
          const catalogView=function(childNode, pageNum) {
            const prevUrl='?category=' + childNode.parent.partner.props.id;
            const url= prevUrl + '&subcategory=' + childNode.props.id;
            //it doesn't record state when: go back (dont state twice the same url)
            pushHistoryState(url);
            setActiveInGroup('central content', childNode);
            const params={tmpt: "catalog"};
            if (pageNum) params.pageNum=pageNum;
            childNode.setView(document.getElementById("centralcontent"), "pagination", params);
          }
          //when a new subcategory is created we select it
          subcategoriesMother.addEventListener("addNewNode", function(newNode) {
            catalogView(newNode);
          }, "addANewNode");
          //If node was selected then we select the following one
          subcategoriesMother.addEventListener("deleteChildNode", function(delNode) {
            if (delNode.selected 
            && this.getSysKey("sort_order")
            && this.children.length>0) {
              let position=1;
              if (delNode.props[this.getSysKey("sort_order")] > 1) position=delNode.props[this.getSysKey("sort_order")]-1;
              catalogView(this.children[position-1]);
            }
          }, "delANewNode");
          //we show subcategories (and click some subcategory)
          await subcategoriesMother.setChildrenView(thisElement.parentElement.parentElement.parentElement.querySelector(".subcategorycontainer"), "subcategory");
          //subcategories container set to visible ?
          subcContainer.style.display="block";
        };
        
        thisNode.getRelationship("itemcategoriesdata").getChild().writeProp(thisElement);
        if (webuser.isProductAdmin()) {
          const {visibleOnMouseOver}=await import(pathJoin('./', CLIENT_MODULES_PATH, 'frontutils.js'));
          visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
          thisNode.getRelationship("itemcategoriesdata").getChild().appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=admnbuts]'), thisElement.parentElement);
          thisNode.appendView(thisElement.parentElement.querySelector('.admnbtsgrid'), "butchpos", {position: 'vertical'});
          thisNode.appendView(thisElement.parentElement.querySelector('.admnbtsgrid'), "butdelete");
          thisNode.appendView(thisElement.parentElement.querySelector('.admnbtsgrid'), "butaddnewnode");
        }

        const subCategoriesView=function() {
          setActiveInGroup('central content', thisNode);
          showsubcategories();
        }

        const {default: config} = await import('./' + CLIENT_CONFIG_PATH + 'main.js');
        thisElement.addEventListener("click", function(event){
          event.preventDefault();
          if (this.isContentEditable==true) {return false;} // The event should not be executed at contentiditable state
          if (config.showsubcategory_On) return false;
          subCategoriesView();
          if (event.isTrusted) {
            pushHistoryState(url);
          }
        });
        
        if (config.showsubcategory_On) {
          thisElement.style.pointerEvents="none";
          thisElement.style.cursor="default";
          showsubcategories();
        }
        else setHistoryState(thisNode, url, subCategoriesView);
      </script>
    </span>
  </div>
  <script>
    const {default: config} = await import(pathJoin('./', CLIENT_CONFIG_PATH, 'main.js'));
    if (config.categoryLevels==2) thisElement.style.display="block";
  </script>
  <div class="subcategorycontainer" style="display:none;"></div>
</div>