<!--
-->
<div style="text-align:center;">
  <div style="position:relative;">
    <div data-id="butedit" class="btmiddleright"></div>
    <h3 style="margin-bottom: 1em;">Shipping</h3>
    <script>
      const title=thisNode.getNextChild("shippingTit").getRelationship("siteelementsdata").getChild();
      title.writeProp(thisElement);
      //adding the edition pencil
      if (webuser.isWebAdmin()) {
        const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
        visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
        title.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
      }
    </script>
  </div>
  <div class="boxframe"></div>
  <script>
    //We show the shipping types available
    new thisNode.constructor().setView(thisElement, "shippinglist");
  </script>
</div>