<!--
-->
<div style="padding-top:1em;"></div>
<script>
  const {currentLanguage, createInstanceChildText} = await import('./' + CLIENT_MODULES_PATH + 'languages.js');
  const {setActiveInGroup} = await import('./' + CLIENT_MODULES_PATH + 'activelauncher.js');
  setActiveInGroup("central content", thisNode); // active links in group central content
  const myNode=await thisNode.getRelationship("pageelements").loadRequest("get my tree", {extraParents: currentLanguage.getRelationship("pageelementsdata")});
  myNode.addEventListener("setChildrenView", async function() {
    if (webuser.isWebAdmin() && this.children.length==0) {
      const newNode = await createInstanceChildText(this);
      newNode.setView(this.childContainer, "butaddnewnode");
    }
  }, "addNewNodeButton");
  myNode.setChildrenView(thisElement, "paragraph");
</script>