<!--
<div class="changestylecontainer">
  <button type="button">Click to Switch Theme Style</button>
  <script>
    const theme=await import('./' + CLIENT_MODULES_PATH + 'themesfront.mjs');
    thisElement.addEventListener("click", ()=>{
      theme.changeStyle();
      });
  </script>
</div>
<script>
document.body.insertBefore(thisElement, document.body.firstElementChild);
const {AlertMessage}=await import('./' + CLIENT_MODULES_PATH + 'alert.mjs');
(new AlertMessage(`<h2>&#128515; <font color="#3311DD">DON'T MIND TO MAKE CHANGES IN THE WEB. tHiS iS FoR yOu To TeST!!!!!!</font> &#128515;</h2>`, 5000)).showAlert();
</script>
-->