<!--
  thisNode: middle -> logbox text content
-->
<div class="userimage"></div>
<script>
  if (window.getComputedStyle(thisElement).backgroundImage) {
    const {setSizeFromStyle}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
    setSizeFromStyle(thisElement);
  }
</script>
<div></div>
<script>
  const setlogstatus=function(){
    let logbox=thisNode.getNextChild("logboxout");
    if (webuser.props.id) {
      logbox=thisNode.getNextChild("logboxin");
    }
    logbox.getNextChild("title").getRelationship("siteelementsdata").getChild().writeProp(thisElement);
  }
  // esto está anticuado, mejor cambiar a patron observer
  setlogstatus();
  webuser.addEventListener("log", () => {
    setlogstatus();
  }, "setlogstatus");
  const url='?login=0';
  const showUserMenu=()=>{
    thisNode.parent.getChild("dashboard").setView(document.getElementById("dashmenu"), "usermenu");
    document.getElementById("dashmenu").style.visibility="visible";
    document.getElementById("dashmenu").style.transform="translateY(15px)";
  }
  const hideUserMenu=()=>{
    document.getElementById("dashmenu").style.transform="translateY(-15px)";
    document.getElementById("dashmenu").style.visibility="hidden";
  }
  const butAction=(event)=>{
    if (webuser.props.id) {
      if (document.getElementById("dashmenu").style.visibility=="visible" && event?.isTrusted) {
        hideUserMenu();
        return;
      }
      showUserMenu();
      return;
    }
    if (document.getElementById("login-card")) {
      thisNode.parent.getChild("logform").setView(document.querySelector(".login-frame .rmbox .body"), "loginform");
      return;
    }
    thisNode.parent.getChild("logform").appendView(document.body, "loginframe");
  }

  const {setHistoryState, pushHistoryState} = await import('./' + CLIENT_MODULES_PATH + 'navhistory.js');

  thisElement.parentElement.addEventListener("click", function(event){
    event.preventDefault();
    butAction(event);
    pushHistoryState(url);
  });
  
  setHistoryState(thisNode, url, butAction)
  
  //If user is loged in we show user menu (after refresh when login)
  if (webuser.props.id) showUserMenu();

  // Event for refreshing when log
  webuser.attachObserver("log", thisNode);
  thisNode.setReaction("log", (params)=>{
    console.log(`logicon node id=${thisNode.props.id} said "webuser log ${webuser.props.id}"`);
    if (webuser.props.id) showUserMenu();
    else hideUserMenu()
  });
</script>