<!--
  templated used at checkout and show user orders
-->
<div class="boxframe orderframe order">
  <div class="orderitems"></div>
  <script>
    thisNode.getRelationship("orderitems").setChildrenView(thisElement, "orderitem");
  </script>
  <div class="shippingitem form-group"></div>
  <script>
    thisNode.getRelationship("ordershippingtypes").setChildrenView(thisElement, "ordershipping");
  </script>
  <div class="form-group ordertotals">
    <span class="form-label"></span>
    <script>
      //valid also for checkout and userordersline
      const myorderpay=thisNode.getRelationship("orderpaymenttypes").getChild();
      if (myorderpay) thisElement.textContent='(' +  myorderpay.props.name + ')';
    </script>
    <span style="position:relative;">
      <div data-id="butedit" class="btmiddleright"></div>
      <span class="form-label" style="margin-right:0.5em"></span>
      <script>
        const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.js');
        const checkout=getSiteText().getNextChild("checkout");
        const total=checkout.getNextChild("order").getNextChild("total").getRelationship("siteelementsdata").getChild();
        total.writeProp(thisElement);
        //adding the edition pencil
        if (webuser.isWebAdmin()) {
          const {visibleOnMouseOver}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
          visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
          total.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
        }
      </script>
    </span>
    <span></span>
    <script>
      const {intToMoney} = await import('./' + CLIENT_MODULES_PATH + 'money.js');
      const {sumTotal} = await import('./' + CLIENT_MODULES_PATH + 'cart.js')
      const myorderitems=thisNode.getRelationship("orderitems");
      const myordership=thisNode.getRelationship("ordershippingtypes");
      thisElement.textContent=intToMoney(sumTotal(myorderitems.children) + sumTotal(myordership.children));
    </script>
  </div>
  <div class="paybutton"></div>
  <script>
    // Show Order payment button.
    // This is valid for chktend and userordersline
    const myorderpay=thisNode.getRelationship("orderpaymenttypes").getChild();
    if (myorderpay && !myorderpay.props.succeed && myorderpay.props.details) {
      const template=JSON.parse(myorderpay.props.details).template;
      if (template) myorderpay.setView(thisElement, template);
    }
  </script>
</div>