<!--
thisNode: partner
-->
<div class="page-content"></div>
<script>
  const {getPagination}= await import('./' + CLIENT_MODULES_PATH + 'pagination.js');
  if (getPagination(thisNode) && getPagination(thisNode).pageIndex) {
    if (!getPagination(thisNode).pageIndex.children.length) await thisNode.setView(thisElement, getPagination(thisNode).elementsTp, {startIndex: 0, endIndex: getPagination(thisNode).pageSize});
  }
</script>
<div class="page-indexes"></div>
<script>
  const {getPagination}= await import('./' + CLIENT_MODULES_PATH + 'pagination.js');
  const {setActive} = await import('./' + CLIENT_MODULES_PATH + 'activelauncher.js');

  if (getPagination(thisNode) && getPagination(thisNode).pageIndex) {
    const pageIndex=getPagination(thisNode).pageIndex;
    if (pageIndex.children.length==0) getPagination(thisNode).createPageIndex();

    if (!pageIndex.children.find(child=>child.selected) && pageIndex.getChild()) setActive(pageIndex.getChild());
    pageIndex.setChildrenView(thisElement, 'paginationindex');
    if (pageIndex.children.length == 0 && !webuser.isAdmin()) thisElement.style.visibility='hidden';
  }
</script>