<!--
  It displays the label from a props of a node
  It receives:
    labelName if it is not a label node
    editPropName . It fits to the domelement name
-->
<div style="display:table; position: relative;">
  <div class="btmiddleright" data-butedit></div>
  <label for="" class="form-label" data-value></label>
  <script>
    if (thisParams.labelName) {
      if (thisParams.labelName===true) thisParams.labelName=thisParams.editPropName;
      thisElement.innerHTML=thisParams.labelName;
    }
    else {
      //It displays the label from some element
      const propertyLabelNode=thisNode.getNextChild({name: thisParams.editPropName}).getRelationship("siteelementsdata").getChild();
      propertyLabelNode.writeProp(thisElement);
      if (!thisParams.noEditLabel && webuser.isWebAdmin()) {
        const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.mjs');
        visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
        propertyLabelNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
      }
    }
  </script>
</div>