<!--
---buttons
thisNode: dataNode
thisParams.container
thisParams.component
thisParams.launcher (default dataNode)
thisParams.params
-->
<div style="position:relative;" class="btn-container">
  <div data-id="butedit" class="btmiddleright"></div>
  <button type="button" class="btn" data-id="but"></button>
  <script>
    const {setActiveInGroup} = await import('./' + CLIENT_MODULES_PATH + 'activelauncher.js');
    if (!thisParams.launcher) thisParams.launcher=thisNode;
    if (!thisParams.params) thisParams.params={};
    const myTxtNode=thisNode.getRelationship("siteelementsdata").getChild();
    myTxtNode.writeProp(thisElement);
    thisElement.onclick=function(){
      setActiveInGroup("central content", thisParams.launcher);
      thisParams.launcher.setView(thisParams.container, thisParams.component, thisParams.params);
    }
    //adding the edition pencil
    if (webuser.isWebAdmin()) {
      const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
      visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
      myTxtNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
    }
  </script>
</div>