<!--
thisNode textContent => "dashboard" - "showOrd"
thisParams.filterorders: "archived" => status=1
-->
<table class="list">
  <thead>
    <tr>
      <th style="position:relative;">
        <div data-id="butedit" class="bttopcenter"></div>
        <div></div>
        <script>
          const myContent=thisNode.getNextChild("date").getRelationship("siteelementsdata").getChild();
          myContent.writeProp(thisElement);
          //adding the edition pencil
          if (webuser.isWebAdmin()) {
            const {visibleOnMouseOver}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
            visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
            myContent.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          }
        </script>
      </th>
      <th style="position:relative;">
        <div data-id="butedit" class="bttopcenter"></div>
        <div></div>
        <script>
          const myContent=thisNode.getNextChild("name").getRelationship("siteelementsdata").getChild();
          myContent.writeProp(thisElement);
          //adding the edition pencil
          if (webuser.isWebAdmin()) {
            const {visibleOnMouseOver}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
            visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
            myContent.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          }
        </script>
      </th>
      <th style="position:relative;">
        <div data-id="butedit" class="bttopcenter"></div>
        <div></div>
        <script>
          const myContent=thisNode.getNextChild("order").getRelationship("siteelementsdata").getChild();
          myContent.writeProp(thisElement);
          //adding the edition pencil
          if (webuser.isWebAdmin()) {
            const {visibleOnMouseOver}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
            visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
            myContent.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          }
        </script>
      </th>
      <template>
        <th style="position:relative;">
          <div data-id="butedit" class="bttopcenter"></div>
          <div></div>
          <script>
            const myContent=thisNode.getNextChild("actions").getRelationship("siteelementsdata").getChild();
            myContent.writeProp(thisElement);
            //adding the edition pencil
            if (webuser.isWebAdmin()) {
              const {visibleOnMouseOver}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
              visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
              myContent.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
            }
          </script>
        </th>
      </template>
    </tr>
    <script>
      if (webuser.isOrdersAdmin() || webuser.isWebAdmin()) { //Webadmin for edition porpouses
        thisNode.appendView(thisElement, thisElement.querySelector('template')); //We add actions to the header first
      }
    </script>
  </thead>
  <tbody></tbody>
  <script>
    const statusValue = thisParams.filterorders=="archived"? 1 : 0;
    if (webuser.isOrdersAdmin()) {
      const {Node, Linker}=await import('./' + CLIENT_MODULES_PATH + 'nodes.js');
      const {unpacking}=await import('./' + SHARED_MODULES_PATH + 'utils.mjs');
      // create virtual ordersViewParent for showing everyone
      const ordersViewParent=await new Linker("TABLE_ORDERS").loadRequest("get all my children", {filterProps: {status: statusValue}});
      for (const order of ordersViewParent.children) {
        order.parent=Node.copyProps(new Linker(), ordersViewParent);
      }
      const ordersUserParents=await Node.requestMulti("get my tree up", ordersViewParent.children);
      ordersUserParents.forEach((ordersUserParent, i)=>{
        ordersViewParent.children[i].parent.load(unpacking(ordersUserParent));
      });
      ordersViewParent.setChildrenView(thisElement, "userordersline", {viewParent: ordersViewParent});
    }
    else {
      webuser.getRelationship("orders").loadRequest("get my children", {filterProps: {status: statusValue}});
      webuser.getRelationship("orders").setChildrenView(thisElement, "userordersline");
    }
  </script>
</table>