<!-- 
This template shows the user data and user address.
Param showAddress to show also address data
Param fieldtype: input / textnode
-->
<div class="useraddressbox"></div>
<script>
let fieldtp= "singleinput";
if (thisParams.fieldtype=="textnode") {
  fieldtp= "singlefield";
}
const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.js');
const tableLabels=getSiteText().getNextChild(thisNode.getRelationship("usersdata").props.childTableName);
(await thisNode.getRelationship("usersdata").loadRequest("get my children")).getChild().setPropsView(thisElement, fieldtp, {labelNode: tableLabels});

if (thisParams.showAddress) {
  const tableLabels=getSiteText().getNextChild(thisNode.getRelationship("addresses").props.childTableName);
  (await thisNode.getRelationship("addresses").loadRequest("get my children")).getChild().appendPropsView(thisElement, fieldtp, {labelNode: tableLabels});
}
</script>