<!--
  viewParent: the parent for setChildrenView (the normal parent could be user)
-->
<tr>
  <td>
    <span></span>
    <script>
      const creationDate=new Date(thisNode.props.creationDate);
      thisElement.textContent=creationDate.toDateString();
    </script>
  </td>
  <td>
    <a></a>
    <script>
      let thisUser=webuser, fieldtype='textnode', showAddress=false;
      if (webuser.isOrdersAdmin()) {
      //Complit user information
        thisUser=thisNode.parent.partner;
        await thisUser.loadRequest("get my relationships");
        const dataRel=await thisUser.getRelationship("usersdata").loadRequest("get my children");
        thisElement.textContent=dataRel.getChild().props.fullname;
        fieldtype='input';
      }
      else {
        thisElement.textContent=webuser.getRelationship("usersdata").getChild().props.fullname;
      }
      const {default: config} = await import('./' + CLIENT_CONFIG_PATH + 'main.js');
      if (config.chktaddress_On) showAddress=true;
      thisElement.clickOn=false;
      thisElement.addEventListener('click', async function(event){
        event.preventDefault();
        if (!thisElement.clickOn) {
          const myrow=thisElement.closest("TABLE").insertRow(thisElement.closest("TR").rowIndex+1);
          const mycell=myrow.insertCell(0);
          mycell.colSpan=thisElement.closest("TABLE").tHead.rows[0].cells.length;
          thisUser.setView(mycell, "rmbox", {myTp: "useraddressview", removeContainer: myrow, myParams: {fieldtype: fieldtype, showAddress: showAddress}});
          thisElement.clickOn=true;
          const myCloseFunc= ()=> {if (thisElement.clickOn) thisElement.clickOn=false};
          thisUser.addEventListener('closewindow', myCloseFunc, null, null, true);
        }
      });
    </script>
  </td>
  <td class="containerbuttons">
    <button type="button" class="iconbuttons">
      <div class="viewinimage"></div>
      <script>
        if (window.getComputedStyle(thisElement).backgroundImage) {
          const {setSizeFromStyle}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
          setSizeFromStyle(thisElement);
        }
      </script>
    </button>
    <script>
      thisElement.clickOn=false;
      thisElement.addEventListener('click', async (event)=>{
        event.preventDefault();
        if (!thisElement.clickOn) {
          await thisNode.loadRequest("get my tree");
          const myrow=thisElement.closest("TABLE").insertRow(thisElement.closest("TR").rowIndex+1);
          const mycell=myrow.insertCell(0);
          mycell.colSpan=thisElement.closest("TABLE").tHead.rows[0].cells.length;
          thisNode.setView(mycell, "rmbox", {myTp: "order", removeContainer: myrow});
          thisElement.clickOn=true;
          thisNode.addEventListener('closewindow', ()=> {if (thisElement.clickOn) thisElement.clickOn=false}, null, null, true);
        }
        else thisElement.clickOn=false;
      });
    </script>
  </td>
  <template>
    <td class="containerbuttons" style="position:relative;">
      <div class="admnbtsgrid"></div>
      <script>
        if (webuser.isOrdersAdmin()) {
          const newStatusValue = thisNode.props.status==1? 0 : 1;
          thisNode.appendView(thisElement, "butsuccessorder", {viewParent: thisParams.viewParent, newStatus: newStatusValue});
          thisNode.appendView(thisElement, "butdelete");
        }
      </script>
    </td>
  </template>
</tr>
<script>
  if (webuser.isOrdersAdmin()) {
    thisNode.appendView(thisElement, thisElement.querySelector('template'), thisParams)
  }
</script>