<!--
  thisNode -> editNode thisNode is deprecated
  thisProperty
  thisAttribute
  editElement
  inlineEdition
  image=normal / code (for code edition)
  it uses data-id=butedit y data-id=admnbuts at containers for buttons to hidde buttons meanwhile editing
  dataProcessor
-->
<div>
  <button type="button" class="butedit" style="display:none" data-id="normbut">
    <div class="editimage"></div>
    <script>
      if (window.getComputedStyle(thisElement).backgroundImage) {
        const {setSizeFromStyle}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
        setSizeFromStyle(thisElement);
      }
    </script>
  </button>
  <button type="button" class="buteditcode" style="display:none" data-id="codebut">
    <div class="editcodeimage"></div>
    <script>
      if (window.getComputedStyle(thisElement).backgroundImage) {
        const {setSizeFromStyle}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
        setSizeFromStyle(thisElement);
      }
    </script>
  </button>
</div>
<script>
  //short names
  let thisProperty=thisParams.thisProperty;
  let editElement=thisParams.editElement;
  let thisAttribute=thisParams.thisAttribute;
  let editNode=thisParams.editNode; // thisNode is deprecated
  if (!editNode) editNode=thisNode;

  let buttonElement=thisElement.querySelector('button[data-id=normbut]');
  if (thisParams.image=='code') {
    buttonElement=thisElement.querySelector('button[data-id=codebut]');
  }
  buttonElement.style.display='block';

  if (!thisProperty) {
    // git first property different from id
    let keys=Object.keys(editNode.props);
    if (editNode.parentNode && editNode.parentNode.childtablekeys && editNode.parentNode.childtablekeys.length>0) {
      keys=editNode.parentNode.childtablekeys;
    }
    thisProperty = keys.find(key => key!='id');
  }
  if (!thisAttribute) {
    if (editElement.tagName=='INPUT' || editElement.tagName=='TEXTAREA') thisAttribute="value";
    else thisAttribute="textContent";
  }
  
  const {default: edition}=await import('./' + CLIENT_MODULES_PATH + 'edition.js');
  
  edition(buttonElement, editElement, editNode, thisProperty, thisAttribute, thisParams.inlineEdition, thisParams.dataProcessor);
  
</script>