<!--
  thisNode: sitetext chkout
-->
<div class="boxframe ordercartframe ordercart">
  <div class="ordercartitems"></div>
  <script>
    import('./' + CLIENT_MODULES_PATH + 'cart.js')
    .then(({myCart})=>myCart.getRelationship("cartboxitem").cloneNode().setChildrenView(thisElement, "orderitem")); // clone is to set the cart and the order cart apart, so the cart container doesn't change
  </script>
  <div class="form-group ordercarttotals" style="position:relative;">
    <div data-id="butedit" class="btmiddleright"></div>
    <span class="form-label"></span>
    <script>
      thisNode.getNextChild("order").getNextChild("subtotal").getRelationship("siteelementsdata").getChild().writeProperty(thisElement);
      //adding the edition pencil
      if (webuser.isWebAdmin()) {
        const {visibleOnMouseOver}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
        visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
        total.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
      }
    </script>
    <span></span>
    <script>
      const {myCart} = await import('./' + CLIENT_MODULES_PATH + 'cart.js')
      const {intToMoney} = await import('./' + CLIENT_MODULES_PATH + 'money.js');
      thisElement.textContent=intToMoney(myCart.sumTotal());
    </script>
  </div>
</div>