<div class="boxframe orderframe order">
  <div class="orderitems"></div>
  <script>
    thisNode.getRelationship("orderitems").setChildrenView(thisElement, "orderitem");
  </script>
  <div class="shippingitem form-group"></div>
  <script>
    thisNode.getRelationship("ordershippingtypes").setChildrenView(thisElement, "ordershipping");
  </script>
  <div class="form-group ordertotals">
    <span class="form-label"></span>
    <script>
      //valid also for cart view: checkout1.php and userordersline.php
      const myorderpay=thisNode.getRelationship("orderpaymenttypes").getChild();
      if (myorderpay) thisElement.textContent='(' +  myorderpay.props.name + ')';
    </script>
    <span style="position:relative;">
      <div data-id="butedit" class="btmiddleright"></div>
      <span class="form-label" style="margin-right:0.5em"></span>
      <script>
        const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.js');
        const checkout=getSiteText().getNextChild("checkout");
        const total=checkout.getNextChild("order").getNextChild("total").getRelationship("siteelementsdata").getChild();
        total.writeProperty(thisElement);
        //adding the edition pencil
        if (webuser.isWebAdmin()) {
          const {visibleOnMouseOver}= await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
          visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
          total.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
        }
      </script>
    </span>
    <span></span>
    <script>
      //valid also for cart view: checkout1.php and userordersline.php
      const myorderitems=thisNode.getRelationship("orderitems");
      const myordership=thisNode.getRelationship("ordershippingtypes");
      const sumTotal=function(parentNode) {
        let total=0;
        let i=parentNode.children.length;
        while (i--) {
          let quantity=parentNode.children[i].props.quantity;
          if (!quantity) quantity=1;
          total=total+quantity * parentNode.children[i].props.price;
        }
        return total;
      }
      const {intToMoney} = await import('./' + CLIENT_MODULES_PATH + 'money.js');
      thisElement.textContent=intToMoney(sumTotal(myorderitems) + sumTotal(myordership));
    </script>
  </div>
  <div class="paybutton"></div>
  <script>
    //Show Order payment button when payment not succeed valid also for cart view: checkout1.php and userordersline.php
    const myorderpay=thisNode.getRelationship("orderpaymenttypes").getChild();
    if (myorderpay && !myorderpay.props.succeed) {
      if (myorderpay.props.details && !myorderpay.props.template) {
        //we must load payment type details when order has not succeed, if it is checkout proccess details in Null
        let orderpaydata=JSON.parse(myorderpay.props.details);
        myorderpay.props.template=orderpaydata.template;
        myorderpay.props.vars=JSON.stringify(orderpaydata.vars);
      }
      if (myorderpay.props.template) {
        myorderpay.setView(thisElement, myorderpay.props.template);
      }
    }
  </script>
</div>