<div class="paragraph" style="position:relative;">
  <div data-id="butedit" class="bttopleftinside"></div>
  <div data-id="butedit" class="bttopleft"></div>
  <div data-id="admnbuts" class="bttopleftinsideafteredit">
    <div class="admnbtsgrid"></div>
  </div>
  <div data-id='paragraph'></div>
  <script>
    thisNode.getRelationship("pageelementsdata").getChild().writeProperty(thisElement);
    if (webuser.isWebAdmin()) {
      const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
      visibleOnMouseOver({element: thisElement.parentElement.querySelector('.bttopleftinside[data-id=butedit]'), parent: thisElement.parentElement});
      thisNode.getRelationship("pageelementsdata").getChild().appendView(thisElement.parentElement.querySelector('.bttopleftinside[data-id=butedit]'), "butedit", {editElement: thisElement, thisAttribute: 'innerHTML', inlineEdition: false});
      visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=admnbuts]'), parent: thisElement.parentElement});
      thisNode.appendView(thisElement.parentElement.querySelector('.admnbtsgrid'), "butchpos", {position: 'vertical'});
      thisNode.appendView(thisElement.parentElement.querySelector('.admnbtsgrid'), "butdelete");
      thisNode.appendView(thisElement.parentElement.querySelector('.admnbtsgrid'), "butaddnewnode");
      visibleOnMouseOver({element: thisElement.parentElement.querySelector('.bttopleft[data-id=butedit]'), parent: thisElement.parentElement});
      thisElement.onblur=function(){
        thisElement.parentElement.querySelector('textarea').value=thisElement.innerHTML;
      }
    }
  </script>  
  <textarea style="display:none; width:100%" rows="6" disabled></textarea>
  <script>
    const myNode=thisNode.getRelationship("pageelementsdata").getChild();
    myNode.writeProperty(thisElement);
    thisElement.onblur=function(){
      thisElement.parentElement.querySelector('div[data-id=paragraph]').innerHTML=thisElement.value;
      thisElement.style.display="none";
    }
    //adding the edition pencil
    if (webuser.isWebAdmin()) {
      myNode.appendView(thisElement.parentElement.querySelector('.bttopleft[data-id=butedit]'), "butedit", {editElement: thisElement, image: 'code', inlineEdition: false})
      .then(()=>{
        thisElement.parentElement.querySelector('.bttopleft[data-id=butedit]').querySelector('button[data-id=codebut]').addEventListener('click', ()=>{
          thisElement.style.display="unset";
          thisElement.focus();
        });
      });
    }
  </script>
</div>