<!--
It recieves thisNode, myTp, removeContainer and make a frame that removes myContainer content when clicking close button.
After closing it fires the event closewindow.
-->
<div class="rmbox">
  <div class="bt-wrapper">
    <button type="button" class="closeimage minibtn transp">
      <div class="closeimage"></div>
    </button>
    <script>
      var rmBox=thisElement.parentElement.parentElement;
      thisElement.addEventListener('click', ()=>{
        if (thisParams.removeContainer) {
          thisParams.removeContainer.parentElement.removeChild(thisParams.removeContainer);
        }
        else {
          rmBox.parentElement.removeChild(rmBox);
        }
        thisNode.dispatchEvent("closewindow");
      });
    </script>
  </div>
  <div></div>
  <script>
    thisNode.setView(thisElement, thisParams.myTp, thisParams.myParams);
  </script>
</div>