<div>
  <span data-note="relative position container for admn buttons" style="z-index:1; position: relative;">
    <div data-id="admnbuts" class="btmiddleright">
      <div class="admnbtsgrid"></div>
    </div>
    <div data-id="butedit" class="btmiddleleft"></div>
    <a href="javascript:" data-button="true" data-hbutton="true" class="subcategory"></a>
    <script>
      var prevUrl='?category=' + thisNode.parentNode.partnerNode.properties.id;
      var url= prevUrl + '&subcategory=' + thisNode.properties.id;
      thisElement.href=url;
      if (thisNode.selected) Node.dom.setActive(thisNode); //if selected in advance
      thisNode.getRelationship({name: "itemcategoriesdata"}).loadRequest("load my children", {language: webuser.language.properties.id})
      .then(myNode => {
        myNode.getChild().writeProperty(thisElement);
        if (webuser.isProductAdmin()) {
          Node.dom.visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
          myNode.getChild().appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
          Node.dom.visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=admnbuts]'), parent: thisElement.parentElement});
          thisNode.appendView(thisElement.parentElement.querySelector('.admnbtsgrid'), "butchpos", {position: 'vertical'});
          thisNode.appendView(thisElement.parentElement.querySelector('.admnbtsgrid'), "butdelete");
          thisNode.parentNode.createInstanceChild()
          .then(newNode => {
            newNode.sort_order=thisNode.sort_order + 1;
            thisNode.parentNode.appendView(thisElement.parentElement.querySelector('.admnbtsgrid'), "butaddnewnode", {newNode: newNode});
          });
        }
      });
      thisNode.getRelationship("items").addEventListener("setChildrenView", myNode => {
        if (myNode.childContainer.parentElement) var myLoader=myNode.childContainer.parentElement.querySelector(".loader");
        if (myLoader) myLoader.style.display="none";
      }, "removeLoader");
      thisElement.addEventListener("click", function(event) {
        event.preventDefault();
        if (this.isContentEditable==true) {return false;} // The event should not be executed at contentiditable state
        Node.dom.setActive(thisNode);
        thisNode.setView(document.getElementById("centralcontent"), "catalog");
        //We grab state on mouse click
        if (event.isTrusted) {
          //it doesn't record state when: go back (dont state twice the same url)
          if (!(history.state && history.state.url==url)) history.pushState({url:url}, null, url);
        }
      });
      
      //Now we click the subcategory selected at the parameters send by the url
      if (window.location.search) {
        var regex = /subcategory=(\d+)/;
        var catIdMatch=window.location.search.match(regex);
        if (catIdMatch) {
          if (catIdMatch[1]==thisNode.properties.id) {
            thisElement.click();
          }
        }
      }
    </script>
  </span>
</div>