.backgroundimage {
    background-image: linear-gradient(180deg, #ddd 0%, #fff 90%);
}
.pgtitle h1 {
  text-shadow: 2px 2px 2px #d5d5d5;
}
.pgsubtitle h2 {
  text-shadow: 4px 2px 2px #d5d5d5;
}
.sidebox {
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgb(136, 136, 136);
  background-color: #EFEFF3;
}
.sidebox .boxtitle {
  color: #404080;
  background-image: linear-gradient(-180deg, #fff 0%, #ddd 90%);
  border-radius: 6px 6px 0 0;
}
div.centercolumn {
	background: linear-gradient(to right, rgb(242, 242, 242), white 20%, white 80%, rgba(242,242,242,1));
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(136, 136, 136);
}
.msgbox {
    background-color:#F8F8F8;
}
.loginform {
	box-shadow: 0px 3px 6px rgb(136, 136, 136);
}
.boxframe {
	background-color: #e5e6f5;
}
.btn {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  color: rgb(20,20,20);
}
div.alertmsg{
	background: #e5e6f5;
	box-shadow: 0px 0px 12px rgb(136, 136, 136);
	border-radius: 12px;
	border: 2px solid #e9e9e9;
}
div.productgrid{
    border-radius: unset;
}
div.productshortcontainer {
	border-radius: unset;
    border: unset;
    padding-bottom: unset;
}
div.addtocart{
  border: 1px solid #AAA;
  border-radius: 6px;
}
#cartbox {
	background-color: #EFEFF3;
}
a {
  color: #1B57A3;
}
.sidebox .boxtitle, .sidebox .boxtitle a{
  /*color: #404080;*/
}
div.productgrid a.selected{
  color: #4bab20;
  font-weight: unset;
}