<form>
  <div id="logform" style="margin-top:1em; margin-bottom:1em;">
    <template>
      <div class="boxframe loginform" style="margin:1em;">
        <div>Please set password for</div>
        <div>
          <b></b>
          <script>
            thisNode.writeProp(thisElement);
          </script>
        </div>
        <div class="form-group" style="position:relative;">
          <label class="form-label" for="new_password"></label>
          <script>
            const myNode=thisParams.textdatanode.getNextChild("newpwd").getRelationship("siteelementsdata").getChild();
            myNode.writeProp(thisElement);
            //adding the edition pencil
            if (webuser.isWebAdmin()) {
              const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
              visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
              myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
            }
          </script>
          <input type="password" class="form-control" placeholder="" name="new_password" data-name="">
          <script>
            thisNode.writeProp(thisElement, null, "data-name");
            thisParams.textdatanode.getNextChild("newpwd").getRelationship("siteelementsdata").getChild().writeProp(thisElement, null, "placeholder");
          </script>
        </div>
        <div class="form-group" style="position:relative;">
          <div data-id="butedit" class="btmiddleright"></div>
          <label class="form-label" for="repeat_password">Repeat password</label>
          <script>
            const myNode=thisParams.textdatanode.getNextChild("repeatpwd").getRelationship("siteelementsdata").getChild();
            myNode.writeProp(thisElement);
            //adding the edition pencil
            if (webuser.isWebAdmin()) {
              const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
              visibleOnMouseOver(thisElement.parentElement.querySelector('[data-id=butedit]'), thisElement.parentElement);
              myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
            }
          </script>
          <input type="password" class="form-control" placeholder="" name="repeat_password" data-name="">
          <script>
            thisNode.writeProp(thisElement, null, "data-name");
            thisParams.textdatanode.getNextChild("repeatpwd").getRelationship("siteelementsdata").getChild().writeProp(thisElement, null, "placeholder");
          </script>
        </div>
        <div>
          <button type="button" class="btn" data-id="but"></button>
          <script>
            const myNode=thisParams.textdatanode.getNextChild("btsmt").getRelationship("siteelementsdata").getChild();
            myNode.writeProp(thisElement);
            const {AlertMessage}=await import('./' + CLIENT_MODULES_PATH + 'alert.js');
            thisElement.addEventListener("click", async (event)=>{
              event.preventDefault();
              const {checkValidData}=await import('./' + SHARED_MODULES_PATH + 'datainput.mjs');
              const myCheck=checkValidData({props: {new_password: thisElement.form.querySelector('input[name=new_password][data-name=' + thisNode.props.username + ']').value}});
              if (myCheck!==true) {
                //Errors in characters
                new AlertMessage(thisElement.form.elements.pwdCharError.value, 3000).showAlert();
                thisElement.form.querySelector('input[name=' + myCheck.errorKey + '][data-name=' + thisNode.props.username + ']').focus();
                return;
              }
              if (thisElement.form.querySelector('input[name=new_password][data-name=' + thisNode.props.username + ']').value!=thisElement.form.querySelector('input[name=repeat_password][data-name=' + thisNode.props.username + ']').value) {
                new AlertMessage(thisElement.form.elements.pwdDoubleError.value, 3000).showAlert();
                thisElement.form.querySelector('input[name=repeat_password][data-name=' + thisNode.props.username + ']').focus();
                return;
              }
              webuser.constructor.updatePwd(thisNode.props.username, thisElement.form.querySelector('input[name=new_password][data-name=' + thisNode.props.username + ']').value)
              .then(res=>new AlertMessage(thisElement.form.elements.pwdOk.value, 3000).showAlert())
              .catch(error=>{
                new AlertMessage(thisElement.form.elements.pwdNotOk.value, 3000).showAlert();
                console.error(error);
              });
            });
          </script>
        </div>
      </div>
    </template>
    <div style="display:flex; flex-direction: row; margin:1em; flex-wrap: wrap;"></div>
    <script>
    //We load administration users
    const {LinkerNode}=await import('./' + CLIENT_MODULES_PATH + 'nodes.js');
    const {default: User}=await import('./' + CLIENT_MODULES_PATH + 'user.js');
    const usersTypesMother=await new LinkerNode('TABLE_USERSTYPES').loadRequest("get all my children");

    for (const userType of usersTypesMother.children) {
      await userType.loadRequest("get my relationships");
      userType.getRelationship().addChild(new User());
    }

    for (const adminType of usersTypesMother.children.filter(usersType=>usersType.getRelationship().getChild().isAdmin())) {
      adminType.getRelationship().removeChild(adminType.getRelationship().getChild());
      (await adminType.getRelationship().loadRequest("get my children")).getChild().appendView(thisElement, thisElement.previousElementSibling, {textdatanode: thisNode});
    }
    </script>
    <div style="position:relative;">
      <input type="hidden" name="pwdCharError" disabled>
      <script>
        const {getSiteText} = await import('./' + CLIENT_MODULES_PATH + 'sitecontent.js');
        const myNode=getSiteText().getNextChild("logform").getNextChild("pwdCharError").getRelationship("siteelementsdata").getChild();
        myNode.writeProp(thisElement, null, "value");
      </script>
    </div>
    <div style="position:relative;">
      <input type="hidden" name="pwdOk" disabled>
      <script>
        thisNode.getNextChild("pwdChangeOk").getRelationship("siteelementsdata").getChild().writeProp(thisElement);
      </script>
    </div>
    <div style="position:relative;">
      <input type="hidden" name="pwdNotOk" disabled>
      <script>
        thisNode.getNextChild("pwdChangeError").getRelationship("siteelementsdata").getChild().writeProp(thisElement);
      </script>
    </div>
    <div style="position:relative;">
      <input type="hidden" name="pwdDoubleError" disabled>
      <script>
        thisNode.getNextChild("pwdDoubleError").getRelationship("siteelementsdata").getChild().writeProp(thisElement);
      </script>
    </div>
    <div class="dashbuttons">
      <div style="position:relative;">
        <button type="button" class="btn" data-id="but" style="padding:1em;">Finish</button>
        <script>
        thisElement.addEventListener("click", (event)=>{
          webuser.logout()
          .then(()=>location.reload());
        });
        </script>
      </div>
    </div>
  </div>
</form>