<div class="alert dialogbox">
  <div>
    <h1 style="font-size:1.5em" style="display:block;">
      <p>No Database Tables!</p>
      <p>Select some option:</p>
    </h1>
  </div>
  <div style="padding:1em;">
    <div style="padding:1em;">
      <template>
        <div class="alert">
          <p><b>Populating database ... It could take some time, please be patient.</b></p>
          <div style="text-align:center"><div class="circleloader"></div></div>
        </div>
      </template>
      <button class="btn" type="button" style="padding:1em;">Populate Database with includes/database.sql</button>
      <script>
        thisElement.addEventListener("click", async ()=>{
          const {Node, NodeMale} = await import('./javascript/modules/nodesfront.js');
          (new NodeMale()).setView(document.body, thisElement.previousElementSibling);
          const res= await Node.makeRequest("init database");
          if (res>0) {
            const {AlertMessage}=await import('./javascript/modules/alert.js');
            //Log as sysadmin
            await webuser.login("systemadmin", "systemadmin");
            
            //Load languages and select my language
            const {loadLanguages, selectMyLanguage} = await import('./javascript/modules/languages.js');
            const languages= await loadLanguages();
            //if no root means that table domelements doesn't exist or has no elements
            if (languages.children.length==0) {
              throw new Error('Database Content Error');
            }
            selectMyLanguage(); //set currentLanguage
            
            //Load web site text content
            let {textContent} = await import('./javascript/modules/textcontent.js');
            await textContent.initRoot();
            const siteText= await textContent.loadSiteText();
            
            await siteText.getNextChild("middle").getNextChild("dashboard").getNextChild("changepwd").setView(document.body, "chgadmnpwd");
            (new AlertMessage("<BR/>Database Populated saccesfully.<BR/><BR/><B>Please Change Administration Passwords.</B><BR/><BR/>", 6000)).showAlert();
          }
        });
      </script>
    </div>
    <div style="padding:1em;">
      <button class="btn" type="button" style="padding:1em;">Skip automatic population and reload</button>
      <script>
        thisElement.onclick=()=>location.reload();
      </script>
    </div>
  </div>
</div>