<!--
  thisNode node to change order
  thisParams.position: 'vertical'/'horizontal'
  thisParams.onChgOrder
-->
<div style="display:flex" class="butarrows">
  <div>
    <a style="display:block;height:100%;" href="javascript:void(0)"></a>
    <script>
      thisElement.addEventListener("click", async function(ev) {
        ev.preventDefault();
        const {getDomElementFromChild}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
        const nodeElement=getDomElementFromChild(thisNode);
        const skey=thisNode.parentNode.getMySysKey('sort_order');
        const newSortOrder=thisNode.props[skey] -1;
        if (newSortOrder < 1) return false;
        const sortOrder=await thisNode.request("edit my sort_order", {newSortOrder: newSortOrder})
        thisNode.props[skey]=sortOrder;
        const swapChild=thisNode.parentNode.constructor.updateSiblingsOrder(thisNode, sortOrder+1); //it will refresh children sort_orders
        if (thisParams.onChgOrder) thisParams.onChgOrder(thisNode, -1);
        else if (swapChild && nodeElement){
          nodeElement.parentElement.insertBefore(nodeElement, nodeElement.previousElementSibling);
        }
        else await thisNode.parentNode.setChildrenView();
      });
    </script>
  </div>
  <script>
    if (thisParams.position=='vertical'){
      thisElement.classList.add('arrowupimage');
    }
    else {
      thisElement.classList.add('arrowleftimage');
    }
    if (window.getComputedStyle(thisElement).backgroundImage) {
      const {setSizeFromStyle}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
      setSizeFromStyle(thisElement);
    }
  </script>
  <div>
    <a style="display:block;height:100%;" href="javascript:void(0)"></a>
    <script>
      //normalize
      thisElement.addEventListener("click", async function(ev) {
        ev.preventDefault();
        const {getDomElementFromChild}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
        const nodeElement=getDomElementFromChild(thisNode);
        let skey=thisNode.parentNode.getMySysKey('sort_order');
        const newSortOrder=thisNode.props[skey] + 1;
        if (newSortOrder > thisNode.parentNode.props.total) return false;
        const sortOrder=await thisNode.request("edit my sort_order", {newSortOrder: newSortOrder});
        thisNode.props[skey]=sortOrder;
        const swapChild=thisNode.parentNode.constructor.updateSiblingsOrder(thisNode, sortOrder-1); //it will refresh children sort_orders
        if (thisParams.onChgOrder) thisParams.onChgOrder(thisNode, +1);
        else if (swapChild && nodeElement){
          nodeElement.parentElement.insertBefore(nodeElement.nextElementSibling, nodeElement);
        }
        else await thisNode.parentNode.setChildrenView();
      });
    </script>
  </div>
  <script>
    if (thisParams.position=='vertical'){
      thisElement.classList.add('arrowdownimage');
    }
    else {
      thisElement.classList.add('arrowrightimage');
    }
    if (window.getComputedStyle(thisElement).backgroundImage) {
      const {setSizeFromStyle}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
      setSizeFromStyle(thisElement);
    }
  </script>
</div>