<!--
  thisNode: itemNode
-->
<button type="button" class="butedit" data-id="normbut">
  <div class="editimage"></div>
  <script>
    if (window.getComputedStyle(thisElement).backgroundImage) {
      const {setSizeFromStyle}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
      setSizeFromStyle(thisElement);
    }
  </script>
</button>
<script>
  thisElement.addEventListener('click', async event => {
    event.preventDefault();
    const {Alert}=await import('./' + CLIENT_MODULES_PATH + 'alert.js');
    (new Alert()).showAlert("loadimg", {myNode: thisNode});
  });
</script>