<div style="position:relative">
  <div data-id="butedit" class="btmiddleright"></div>
  <button type="button" class="btn" data-id="but" data-href="?chktmain"></button>
  <script>
    const myNode=thisNode.getNextChild("ckouttt").getRelationship("domelementsdata").getChild();
    myNode.writeProperty(thisElement);
    const chktAction=function(){
      import('./' + CLIENT_MODULES_PATH + 'cart.js')
      .then(({myCart})=>{
        myCart.tocheckout();
      });
    };
    thisElement.onclick=function(){  
      chktAction();
    }
    const url='chktmain=1';
    //Now we click the element selected at the parameters send by the url
    import('./' + CLIENT_MODULES_PATH + 'initurl.js')
    .then(({urlClickAction})=>{
      urlClickAction(url, chktAction); //history navigation facility
    });
  </script>
  <input type="hidden" disabled>
  <script>
    var myNode=thisNode.getNextChild("ckouttt").getRelationship("domelementsdata").getChild();
    myNode.writeProperty(thisElement);
    thisElement.onblur=function(){
      thisElement.parentElement.querySelector('button[data-id=but]').innerHTML=thisElement.value;
      thisElement.type="hidden";
    }
    //adding the edition pencil
    if (webuser.isWebAdmin()) {
      const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
      visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
      myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
    }
  </script>
</div>
<div style="position:relative;">
  <div data-id="butedit" class="btmiddleright"></div>
  <button type="button" class="btn" data-id="but"></button>
  <script>
    var myNode=thisNode.getNextChild("discardtt").getRelationship("domelementsdata").getChild();
    myNode.writeProperty(thisElement);
    thisElement.onclick=function(){  
      import('./' + CLIENT_MODULES_PATH + 'cart.js')
      .then(({myCart})=>{
        myCart.getRelationship("cartitem").children=[];
        myCart.refreshcartbox();
      });
    }
  </script>
  <input type="hidden" disabled>
  <script>
    var myNode=thisNode.getNextChild("discardtt").getRelationship("domelementsdata").getChild();
    myNode.writeProperty(thisElement);
    thisElement.onblur=function(){
      thisElement.type="hidden";
      thisElement.parentElement.querySelector('button[data-id=but]').innerHTML=thisElement.value;
    }
    //adding the edition pencil
    if (webuser.isWebAdmin()) {
      const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
      visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
      myNode.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
    }
  </script>
</div>