<!--

--> 
<div class="productimage" style="position:relative;">
  <button type="button" class="btmiddlecenter" style="opacity: 0; z-index:1">
    <div class="zoomimage"></div>
    <script>
      if (window.getComputedStyle(thisElement).backgroundImage) {
        const {setSizeFromStyle}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
        setSizeFromStyle(thisElement);
      }
    </script>
  </button>
  <script>
    const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
    visibleOnMouseOver({element: thisElement, parent: thisElement.parentElement})

    thisElement.addEventListener("click", event => {
      event.preventDefault();
      const largeImage=thisElement.parentElement.parentElement.parentElement.querySelector('.productgrid img');
      const smallImage=thisElement.parentElement.querySelector('img');
      largeImage.src=thisElement.parentElement.querySelector('img').src.replace("small", "big");
    });
  </script>
  <img>
  <script>
    const {default: config} = await import('./' + CLIENT_MODULES_PATH + 'config.js');
    const myImageName=thisNode.props.imagename || config.defaultImg;
    thisElement.src=config.catalogPath + "images/small/" + myImageName;
  </script>
</div>