<!-- 
This template shows the dashboard user data and allows to save the changes when fieldtyp input.
It uses webuser
thisNode: dashboard
-->
<div class="dashboard">
  <div class="msgbox" style="position:relative;">
    <div data-id="butedit" class="btmiddleright"></div>
    <span></span>
    <script>
      const title=thisNode.getNextChild("dashboardtit").getRelationship("domelementsdata").getChild();
      title.writeProperty(thisElement);
      //adding the edition pencil
      if (webuser.isWebAdmin()) {
        const {visibleOnMouseOver}=await import('./' + CLIENT_MODULES_PATH + 'frontutils.js');
        visibleOnMouseOver({element: thisElement.parentElement.querySelector('[data-id=butedit]'), parent: thisElement.parentElement});
        title.appendView(thisElement.parentElement.querySelector('[data-id=butedit]'), "butedit", {editElement: thisElement});
      }
    </script>
    <span></span>
    <script>
      webuser.writeProperty(thisElement, "username");
    </script>
  </div>
  <div style="margin:auto"></div>
  <script>
    webuser.setView(thisElement, "useraddressview", {showAddress: false, fieldtype: 'input'});
  </script>
</div>
