.circleloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #3498db;
  border-bottom-color: #3498db;
  width: 60px;
  height: 60px;
  align-self: center;
  display: inline-block;
  animation: spin 2s linear infinite;
}
.minicircleloader {
  width: 20px;
  height: 20px;
	border-width: thick;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto; 
}